
<footer>
  <div class="container">
    <div class="row">

      <div class="col-12 col-lg-2 pt-3">
        <img class="img-fluid" src="./assets/imgs/footer-logo.jpg" />
      </div>

      <div class="col-12 col-lg-5 pt-3">
        <p>
          苗栗縣政府文化觀光局  版權所有<br/>
          地址：苗栗縣 36045 苗栗市自治路50號<br/>
          電話： 037-352961<br/>
        </p>
      </div>

      <div class="col-12 col-lg-5 pt-3">
        <p>
          建議瀏覽器使用 Chrome, IE10.0以上版本<br/>
          最佳螢幕解析度 1280x960<br/>
          <a href="#">資訊安全政策</a> | <a href="#">隱私權政策</a>
        </p>
      </div>

    </div>
  </div>
  <a href="#web-top" class="footer-top-link">
    <span>
      <i class="fas fa-arrow-up fa-2x"></i>
    </span>
    <span>
      TOP
    </span>
  </a>
</footer>
