<title>Popworld</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon"
  type="image/png"
  href="/assets/imgs/web_title_icon.png">
<meta property="og:title" content="Popworld蹦世界"></meta>
<meta property="og:type" content="website"></meta>
<meta property="og:description" content="自助旅行，背包客，省錢必備手機導遊!"></meta>
<meta property="og:image" content="/assets/imgs/icon.jpg"></meta>
