<!DOCTYPE HTML>
<html id="top">
	<head>
		<% include include/meta %>
		<% include include/css %>
    <style>
      .index-main{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .search-panel{
        width: 100%;
        text-align: center;
        padding: 0 2em;
      }

      .search-panel-pic{
        width: 100px;
        height: 100px;
      }

      .search-panel-hellomsg{
        font-size: 1.5em;
      }

      .search-panel-hinttext{
        color: #999;
      }

      .result-panel{
        width: 100%;
      }

      .not-found-panel{
        background-color: #999;
        padding: 30px 50px;
        font-size: 1.2em;
        margin: 0 20px;
        border-radius: 20px;
      }

      .res-card{
        display: block;
        color: #000;
        margin: 10px 20px 30px;
        padding: 0px;
        background-color: #ddd;
        border-radius: 10px;
        box-shadow: 2px 2px 10px #999;
        overflow: hidden;
        cursor: pointer;
      }

      .res-card:hover{
        text-decoration: none;
      }

      .thumb-outer{
        position: relative;
      }

      .thumb-play-btn{
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: #0003;
      }

      .video-title{
        text-align: center;
        padding: 10px 0 20px;
        font-size: 1.5em;
        font-weight: 800;
      }

      .res-back{
        padding: 10px;
        font-size: 2em;
        text-align: center;
        position: relative;
        background-color: #37d4a7;
        color: #fff;
      }

      .res-back .back-text{
        font-weight: 800;
      }

      .res-back .back-icon{
        position: absolute;
        left: 10px;
      }

      .fixed-loading{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        background-color: rgba(255, 255, 255, 0.7);
        justify-content: center;
        align-items: center;
      }

      .thumb-img{
        width: 100%;
      }

      body{
        background-color: #eee;
      }
    </style>
  </head>
	<body>
		<div id="app">
			<% include include/nav %>
        <section :class="{'index-main': step!=2}">

          <div class="search-panel" v-show="step==1">
            <!-- <img src="./assets/imgs/c6h3un.png" class="img-thumbnail search-panel-pic mb-2"> -->
            <!-- <div class="search-panel-hellomsg">您好！<span class="text-info font-weight-bold">張竹君</span></div> -->
            <div class="search-panel-hinttext mt-4">想了解哪個字的寫法呢?</div>
            <input class="form-control mt-2" type="text" placeholder="輸入想查詢的文字後點擊搜尋" v-model="searchText"/>
            <button class="btn btn-primary mt-2 mb-5" :disabled="searchBtnDisable" @click="updateSearchRes"><i class="fas fa-search"></i> 搜尋</button>
						<div id="captcha" data-callback="captcha_pass"></div>
					</div>

          <div class="result-panel" v-show="step==2">
            <div v-for="(item, index) in searchRes" style="width:100%">
              <a :href="'https://v.youku.com/v_show/id_'+item.id+'.html'" target="_blank" class="res-card">
                <div class="thumb-outer">
                  <img :src="item.thumb" class="thumb-img"/>
                  <div class="thumb-play-btn">
                    <i class="far fa-play-circle fa-3x"></i>
                  </div>
                </div>
                <div class="video-title">
                  <span v-text="item.title"></span>
                </div>

              </a>
            </div>
            <div style="width:100%">
              <a href="#" @click="backToMain" class="res-card res-back">
                <span class="back-text">返回</span>
                <span class="back-icon"><i class="fas fa-arrow-left"></i></span>
              </a>
            </div>
          </div>

          <div class="not-found-panel" v-show="step==-1">
            <h3 class="text-center text-white">找不到影片</h3>
            <div class="text-light">很抱歉，我們沒有找到關於<span style="color:#22fdff;" v-text="searchText"></span>的影片...</div>
            <div class="text-center">
              <button class="btn btn-danger mt-3" @click="backToMain"><i class="fas fa-arrow-left"></i> 返回</button>
            </div>
          </div>

        </section>

        <section class="fixed-loading" v-show="ajaxing">
          <div>
            <i class="fas fa-spinner fa-4x fa-spin"></i>
          </div>
        </section>
			<% include include/footer %>
		</div>
	</body>
</html>
<% include include/scripts %>
<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>
<script>
  var app = null;

  function initApp(){
    app = new Vue({
      el: '#app',
      data: {
        ajaxing: false,
        step: 1,
        searchText: '',
        searchRes: [
          {
            "thumb": "https://vthumb.ykimg.com/054106015B22554CADC05D1AC204762C",
            "link": "//v.youku.com/v_show/id_XMzU3MTY0NjYyNA==.html",
            "title": "行书 足",
            "id": "XMzU3MTY0NjYyNA==",
            "keyword": "足"
          },
        ],
				captcha_pass: false,
      },
      watch: {
        searchText: function(val){
          if(val.length > 5){
            this.searchText = val.substring(0, 5);
          }else{
            this.searchText = val;
          }
        },
      },
      updated: function(){

      },
      computed: {
        searchBtnDisable: function(){
          if(this.searchText.length<1){
            return true;
          }
					if(!this.captcha_pass){
						return true;
					}
          return false;
        },


      },
      methods: {
        updateSearchRes: function(){
          const _this = this;
          $.ajax({
            url: './search',
            method: 'POST',
            dataType: 'json',
            data: JSON.stringify({
              "text": this.searchText,
              "client_id": "wx2a998dc1b5db9a2c",
							"captcha_token": grecaptcha.getResponse(captcha),
            }),
            contentType : 'application/json; charset=UTF-8',
            beforeSend: function(){
              _this.ajaxing = true;
            },
            success: function(d){
              console.log(d);

              _this.searchRes = [];
              const res = d.results;
              if(res != null){
                for(let i=0;i<res.length;i++){
                  const v = res[i];
                  _this.searchRes.push(v);
                }
              }

              if(_this.searchRes.length>0){
                _this.step = 2;
              }else{
                _this.step = -1;
              }

            },
            error: function(e, e2, e3){
              console.log(e);
            },
            complete: function(){
              _this.ajaxing = false;
            }
          });
          return;
        },
				backToMain: function(){
					this.step = 1;
					captcha_init();
				},
      }
    });
  }

  $(document).ready(function(){
		initApp();
  });

	var captcha;
	function onloadCallback(){
		captcha = grecaptcha.render('captcha', {
      'sitekey' : '6Lf1MXYUAAAAAN0Xzq5sVvhx1EBQxUHY-xNKqnoN'
    });
	}

	function captcha_pass(){
		app.captcha_pass = true;
	}

	function captcha_init(){
		grecaptcha.reset();
		app.captcha_pass = false;
	}
</script>
