<!DOCTYPE HTML>
<html id="top">
	<head>
    <title>Popworld</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/pop_main.css" />

		<link rel="icon"
      type="image/png"
      href="./assets/imgs/web_title_icon.png">
		<meta property="og:title" content="Popworld蹦世界"></meta>
		<meta property="og:type" content="website"></meta>
		<meta property="og:description" content="自助旅行，背包客，省錢必備手機導遊!"></meta>
		<meta property="og:image" content="./assets/imgs/icon.jpg"></meta>

    <script src="//s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-55647.js"></script>
  </head>
	<body>
		<div id="app">

			<section class="fix-nav">
				<img class="nav-logo" src="./assets/imgs/login_logo.png"/>
				<div class="nav-bars nav-open d-md-none" v-on:click="openNav">
					<span>
						<i class="fas fa-bars"></i>
					</span>
				</div>

				<div class="nav-links">
					<div style="height:50px;" class="d-md-none">
						<img class="nav-logo" src="./assets/imgs/login_logo.png"/>
					</div>

					<ul>
						<li>
							<a href="#" class="nav-links-a">手機導覽</a>
						</li>
						<li>
							<a href="#" class="nav-links-a">熱門旅人</a>
						</li>
						<li>
							<a href="#" class="nav-links-a">想去哪裡玩?</a>
						</li>
						<li>
							<a href="#" class="nav-links-a">關於我們</a>
						</li>
						<li>
							<a href="#" class="nav-links-a">開始寫導覽</a>
						</li>
					</ul>

					<div class="nav-bars d-md-none" style="color: #fff;" v-on:click="closeNav">
						<span>
							<i class="fas fa-times"></i>
						</span>
					</div>
				</div>
			</section>

			<section class="banner">
	      <div class="banner-main">
					<img class="banner-logo" src="./assets/imgs/login_logo.png"/>
	        <div class="banner-title">
	          <h2>蹦世界</h2>
	          <small>手機導遊</small>
	        </div>
	        <div class="banner-search-input">
	          <input type="text" placeholder="想去哪兒玩呢?"/>
	          <span class="pl-3"><a href="#" class="banner-search-btn"><i class="fas fa-search"></i></a></span>
	        </div>
	      </div>
	    </section>

			<!--
	    <section class="banner">
	      <div class="banner-main">
	        <img class="banner-logo" src="./assets/imgs/login_logo.png"/>
	        <div class="banner-title">
	          <h2>蹦世界</h2>
	          <small>手機導遊</small>
	        </div>
	        <div class="banner-search-input">
	          <input type="text" placeholder="想去哪兒玩呢?"/>
	          <span class="pl-3"><a href="#" class="banner-search-btn"><i class="fas fa-search"></i></a></span>
	        </div>
	      </div>
	    </section>
			-->

	    <section class="download">
	      <div class="download-content container">
	        <div class="download-setumei-div">
	          <h4 class="download-slogan">手機就是你的最佳導遊</h4>
	          <div class="download-desc">
	            現在就下載蹦世界，把全世界的導覽都裝進手機！
	          </div>
	        </div>
	        <div class="download-srcs-div">
	          <ul class="download-src-list">
	            <li>
	              <i class="fab fa-google-play fa-2x"></i>
	              <div class="px-2">Google Play</div>
	            </li>
	            <li>
	              <i class="fab fa-app-store-ios fa-2x"></i>
	              <div class="px-2">App Store</div>
	            </li>
	          </ul>
	        </div>
	      </div>
	    </section>

	    <section class="guides">
	      <div class="container">
					<div class="guides-title"><i class="fas fa-map-marker-alt"></i> 熱門導覽</div>
	        <div class="row">

	          <div class="col-md-4">
	            <a class="guides-div">
								<img class="guides-img" src="./assets/imgs/fake_guide_small.jpg"/>
	              <div class="guide-desc">
	                <div>
	                  <span>醫療史料館</span>
	                  <p>
	                    十九世紀下半葉，在打狗登陸的歐美醫療傳教人員及海關醫員建立西式醫院、提供醫療服務，高雄師...
	                  </p>
										<small>導覽內容→</small>
	                </div>
	              </div>
	            </a>
	    			</div>

	          <div class="col-md-4">
	            <a class="guides-div">
								<img class="guides-img" src="./assets/imgs/fake_guide_small.jpg"/>
	              <div class="guide-desc">
	                <div>
	                  <span>醫療史料館</span>
	                  <p>
	                    十九世紀下半葉，在打狗登陸的歐美醫療傳教人員及海關醫員建立西式醫院、提供醫療服務，高雄師...
	                  </p>
										<small>導覽內容→</small>
	                </div>
	              </div>
	            </a>
	    			</div>

	          <div class="col-md-4">
	            <a class="guides-div">
								<img class="guides-img" src="./assets/imgs/fake_guide_small.jpg"/>
	              <div class="guide-desc">
	                <div>
	                  <span>醫療史料館</span>
	                  <p>
	                    十九世紀下半葉，在打狗登陸的歐美醫療傳教人員及海關醫員建立西式醫院、提供醫療服務，高雄師...
	                  </p>
										<small>導覽內容→</small>
	                </div>
	              </div>
	            </a>
	    			</div>

						<div class="col-12 text-right">
							<a href="#" class="guides-more-btn">更多導覽</a>
						</div>
	        </div>
	      </div>
	    </section>

			<section class="special">
				<div class="container">

					<div class="row">

						<!--
						<div class="col-12 col-md-6 special-video-div">
							<a href="https://youtu.be/I2eFOOnuxpE" class="special-video-link">
								<img src="./assets/imgs/event.png" />
								<span class="play-btn"><i class="fab fa-youtube fa-3x"></i></span>
							</a>
						</div>
						-->

						<div class="col-12 col-md-6 special-video-div">
							<div class="special-title d-md-none">名人故居實境解謎</div>
							<div class="special-video">
								<iframe src="https://www.youtube.com/embed/I2eFOOnuxpE?rel=0&showinfo=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
							</div>
						</div>

						<div class="col-12 col-md-6">
							<div class="special-desc">
								<div class="special-title d-none d-md-block">名人故居實境解謎</div>
								<div class="special-content">
									<div class="special-content-icon">
										<span class="special-content-icon-spin">
											<i class="fas fa-question"></i>
										</span>
									</div>
									<p>
										蹦世界與孫運璿、梁實秋故居合作推出最新實境解謎遊戲，結合手機APP、實體道具與AR擴增實境技術，帶你經歷一場腦力的風暴！
									</p>
									<p>
										就讓我們一起預約前往 <span class="special-color">知名作家梁實秋</span> 與 <span class="special-color">永遠的行政院長孫運璿</span> 的家，當一回福爾摩斯吧！
									</p>
									<a href="https://popworld.cc/event/puzzle_activity" target="_blank" class="special-btn">詳細內容</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

			<section class="intro">
				<div class="container">
					<div class="intro-title">服務特色</div>

					<div class="row d-md-none">

						<div class="col-12 col-md-6 col-lg-3">
							<div class="intro-card">
								<div class="intro-card-icon">
									<i class="fas fa-bicycle fa-2x"></i>
								</div>
								<div class="intro-card-desc">
									<div class="intro-card-title">戶外導覽</div>
									<div class="intro-card-content">利用手機定位，走到景點自動蹦出介紹聲音、文字、圖片，輕鬆了解當地文化特色。</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-md-6 col-lg-3">
							<div class="intro-card">
								<div class="intro-card-icon">
									<i class="fas fa-home fa-2x"></i>
								</div>
								<div class="intro-card-desc">
									<div class="intro-card-title">室內定位</div>
									<div class="intro-card-content">可多國語言，靠近即自動介紹，無須導覽機，節省成本。展覽活動中可提供民眾路線導引、廠商資訊與優惠訊息推播。</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-md-6 col-lg-3">
							<div class="intro-card">
								<div class="intro-card-icon">
									<i class="fas fa-cloud fa-2x"></i>
								</div>
								<div class="intro-card-desc">
									<div class="intro-card-title">雲端後台</div>
									<div class="intro-card-content">網頁簡易操作，利用雲端技術，能夠即時更新內容，特展與常設展皆合適。</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-md-6 col-lg-3">
							<div class="intro-card">
								<div class="intro-card-icon">
									<i class="fas fa-donate fa-2x"></i>
								</div>
								<div class="intro-card-desc">
									<div class="intro-card-title">行動支付</div>
									<div class="intro-card-content">符合政府無紙化政策，解決票卷列印問題、減少票卷成本，降低收款、驗票人力成本，增加館內收入。</div>
								</div>
							</div>
						</div>

					</div>

					<div class="testRow">

						<div class="testDiv1">
							<div class="testDiv1-content">

								<div class="info-change-div info-change-div-left" v-on:click="selecting_info = selecting_info==0? 3: selecting_info-1;">◀</div>

								<div class="testDiv1-container">

									<div class="testDiv1-inner" v-bind:class="{'active-info': selecting_info == 0}">
										<div class="testDiv1-innerContent">
											<div class="testDiv1-title">戶外導覽</div>
											<div class="testDiv1-desc">利用手機定位，走到景點自動蹦出介紹聲音、文字、圖片，輕鬆了解當地文化特色。</div>
										</div>
									</div>

									<div class="testDiv1-inner" v-bind:class="{'active-info': selecting_info == 1}">
										<div class="testDiv1-innerContent">
											<div class="testDiv1-title">室內定位</div>
											<div class="testDiv1-desc">可多國語言，靠近即自動介紹，無須導覽機，節省成本。展覽活動中可提供民眾路線導引、廠商資訊與優惠訊息推播。</div>
										</div>
									</div>

									<div class="testDiv1-inner" v-bind:class="{'active-info': selecting_info == 2}">
										<div class="testDiv1-innerContent">
											<div class="testDiv1-title">雲端後台</div>
											<div class="testDiv1-desc">網頁簡易操作，利用雲端技術，能夠即時更新內容，特展與常設展皆合適。</div>
										</div>
									</div>

									<div class="testDiv1-inner" v-bind:class="{'active-info': selecting_info == 3}">
										<div class="testDiv1-innerContent">
											<div class="testDiv1-title">行動支付</div>
											<div class="testDiv1-desc">符合政府無紙化政策，解決票卷列印問題、減少票卷成本，降低收款、驗票人力成本，增加館內收入。</div>
										</div>
									</div>

								</div>


								<div class="info-change-div info-change-div-right" v-on:click="selecting_info = selecting_info==3? 0: selecting_info+1;">▶</div>

							</div>
						</div>

						<div class="testDiv2">
							<div class="testDiv2-inner">

								<div class="testContent testUp" v-bind:class="{'active-info': selecting_info == 0}" v-on:click="selecting_info = 0;">
									<div class="side1">
										<i class="fas fa-bicycle fa-2x"></i>
									</div>
									<div class="side2">
										戶外導覽
									</div>
								</div>

								<div class="testContent testLeft" v-bind:class="{'active-info': selecting_info == 1}" v-on:click="selecting_info = 1;">
									<div class="side1">
										<i class="fas fa-home fa-2x"></i>
									</div>
									<div class="side2">
										室內定位
									</div>
								</div>

								<div class="testContent testRight" v-bind:class="{'active-info': selecting_info == 2}" v-on:click="selecting_info = 2;">
									<div class="side1">
										<i class="fas fa-cloud fa-2x"></i>
									</div>
									<div class="side2">
										雲端後台
									</div>
								</div>

								<div class="testContent testDown" v-bind:class="{'active-info': selecting_info == 3}" v-on:click="selecting_info = 3;">
									<div class="side1">
										<i class="fas fa-donate fa-2x"></i>
									</div>
									<div class="side2">
										行動支付
									</div>
								</div>

							</div>
						</div>
					</div>


				</div>



			</section>

			<footer class="footer">

				<div class="footer-links">
					<ul>
						<li>
							<a href="#">關於我們</a>
						</li>
						<li>
							<a href="#">使用者條款</a>
						</li>
						<li>
							<a href="https://www.facebook.com/popworldApp" target="_blank">Facebook</a>
						</li>
					</ul>
					<ul>
						<li>
							<a href="#">中文</a>
						</li>
						<li>
							<a href="#">English</a>
						</li>
						<li>
							<a href="#">日本語</a>
						</li>
					</ul>
				</div>

				<div class="footer-info">
					<span>蹦世界數位創意股份有限公司</span>
					<span>service@popworld.cc</span>
					<span>10452台北市中山區撫順街8號6樓</span>
					<span>02-2597-9725</span>
				</div>

	    </footer>
		</div>
	</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollex/0.2.1/jquery.scrollex.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script>
  var app = null;

  function initApp(){
    app = new Vue({
      el: '#app',
      data: {
				selecting_info: 0,
				nav_open: false,
      },
      watch: {

      },
      updated: function(){

      },
      computed: {

      },
      methods: {
				openNav: function(){
					$('.nav-links').fadeIn();
					$('.nav-open').fadeOut();
				},
				closeNav: function(){
					$('.nav-links').hide();
					$('.nav-open').fadeIn();
				},
      }
    });
  }

	var navAnimating = false;
	var lastScrollTop = 0;
	function scrollListener(event){
		var st = window.pageYOffset || document.documentElement.scrollTop; // Credits: "https://github.com/qeremy/so/blob/master/so.dom.js#L426"
		//console.log(window.innerWidth);

		if(!navAnimating){
			if (st > lastScrollTop){
				if(window.innerWidth >= 0){
					navAnimating = true;
					$('.fix-nav').animate({
						top: "-50px",
					}, 300,function(){
						navAnimating = false;
					});
					//$('.fix-nav').css('transform', 'translate(0, -50px)');
				}
			} else {
				navAnimating = true;
				$('.fix-nav').animate({
					top: "0px",
				}, 300,function(){
					navAnimating = false;
				});
				//$('.fix-nav').css('transform', 'translate(0, 0)');
			}
		}
		lastScrollTop = st <= 0 ? 0 : st;
	}

	function initScrollex(){
		$('.guides-div').scrollex({
			enter: function() {
				// Set #foobar's background color to green when we scroll into it.
				$(this).animate({
					top: 0,
					opacity: 1,
				}, 700);
				//$(this).css('animation', 'floatUp .7s ease');
				//$(this).css('background-color', 'green');
			},
			leave: function() {
				// Reset #foobar's background color when we scroll out of it.
			}
		});
	}

  $(document).ready(function(){
		initApp();
		let windowHeight = window.innerHeight;
		$('.banner').css('height', windowHeight+'px');

		window.addEventListener("scroll", scrollListener);
		initScrollex();
  });
</script>
