<!DOCTYPE HTML>
<html id="top">
	<head>
    <title>Popworld 導覽製作流程</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

		<% include include/css %>

    <style>

			/* global */
			.editorBorder{
				border: solid 1px #000;
		    padding: 1em;
		    border-radius: .5em;
		    background-color: #fff;
			}

		  /* create guide */
			.create_card{
				max-width: 400px;
		    margin: 0 auto;
		    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
			}

			.create_card small{
				color: #999;
			}

			.createGuideImage{
				cursor: pointer;
			}

			.createGuideImagePlus{
				text-align: center;
		    padding: 4em 0;
		    border: dashed 2px #999;
		    color: #999;
		    border-radius: .3em;
			}

			.createGuideImageDiv{
				position: relative;
			}

			.createGuideImageDivHint{
				color: #fff;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,.5);
				opacity: 0;
				transition: opacity .4s ease;
				display: flex;
		    justify-content: center;
		    align-items: center;
		    font-size: 2em;
			}

			.createGuideImage:hover .createGuideImageDivHint{
				opacity: 1;
			}

			/* editor */
			.mainEditor{
				position: relative;
			}

			/* editor guide main */
			.editorGuideMain{

			}

			.editGuideImageDiv{
				position: relative;
				cursor: pointer;
			}

			.editGuideImageHint{
				color: #fff;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,.5);
				opacity: 0;
				transition: opacity .4s ease;
				display: flex;
		    justify-content: center;
		    align-items: center;
		    font-size: 2em;
			}

			.editGuideImageDiv:hover .editGuideImageHint{
				opacity: 1;
			}
			/* editor spots map */
			.stick-right{
				position: absolute;
		    transform: translate(20px, 0);
			}

			.editorSideBar{
				list-style: none;
		    padding: 0;
				margin: 0;
			}

			.editorSideBar>li{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				color: #000;
				padding: .5em;
				cursor: pointer;
				background-color: transparent;
				transition: color .4s ease, background-color .4s ease;
			}

			.editorSideBar>li:hover{
				color: #fff;
				background-color: #000;
			}

			.editorSideBar>li:not(:last-child){
				border-bottom: solid 1px #000;
			}

			.mapContainer{
				position: relative;
			}

			.spotMap{
				width: 100%;
				height: 100%;
				min-height: 600px;
			}

			/* editor spot */
			.editorSpotMediaDiv{
				padding: 10px;
		    background-color: #e5efed;
		    border-radius: 5px;
			}

			.editorSpotMediaContainer{
				height: 200px;
				position: relative;
				background-color: #f1f7f6;
				display: flex;
				flex-direction: row;
				padding: 5px;
				overflow-x: scroll;
			}

			.editorSpotMediaInner{
				height: 100%;
				padding: 15px;
				background-color: rgba(0, 0, 0, 0.3);
		    border-radius: 15px;
				position: relative;
				margin-right: 10px;
			}

			.editorSpotMediaInner>img{
				max-height: 100%;
			}

			.editorSpotMediaInnerClose{
				position: absolute;
		    right: 15px;
		    top: 15px;
		    color: #fff;
		    background-color: #000;
		    width: 30px;
		    height: 30px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    border-radius: 50%;
				cursor: pointer;
		    opacity: 0;
		    transition: opacity .4s ease;
			}

			.editorSpotMediaInner:hover .editorSpotMediaInnerClose{
				opacity: 1;
			}

			.editorSpotMediaBtns{
				background-color: transparent;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: stretch;
			}

			.editorSpotVoiceDiv{
				padding: 10px;
		    background-color: #e5efed;
		    border-radius: 5px;
			}

			.editorSpotVoiceContainer{
				position: relative;
				background-color: #f1f7f6;
				display: flex;
				flex-direction: row;
				padding: 5px;
			}
			/* loading */
			.fixed-loading{
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,.5);
				display: flex;
				justify-content: center;
				align-items: center;
				color: #fff;
			}
    </style>
  </head>
	<body class="bg-light pt-4">
		<div id="app">

			<input type="file" class="d-none" id="createGuideImageUrl" onchange="readFileAndUpdateGuideImageSrc(this)">
			<input type="file" class="d-none" id="addSpotImageUrl" onchange="readFileAndAppendSpotImageSrc(this)">

			<div class="container">

				<!-- 建立新導覽 -->
				<div v-show="step == 'create'">
					<div class="editorBorder create_card">

						<div class="form-group">
					    <label for="createGuideTitle">導覽名稱</label>
					    <input type="text" class="form-control" id="createGuideTitle" placeholder="請輸入導覽名稱" v-model="guide_title">
					  </div>

						<div class="createGuideImage" @click="guideImageFileClick">
							<div>
								<div class="createGuideImagePlus" v-show="guide_image_src.length == 0">
									<h6>導覽封面圖片</h6>
									<i class="fas fa-2x fa-plus-circle"></i>
								</div>
								<div class="createGuideImageDiv" v-show="guide_image_src.length > 0">
									<div class="createGuideImageDivHint">
										<span>變更封面圖片</span>
									</div>
									<img :src="guide_image_src" class="img-fluid"/>
								</div>
							</div>
						</div>

						<small>上傳的照片不可超過10MB</small>

						<div class="form-group">
					    <textarea class="form-control mt-3" placeholder="導覽介紹" v-model="guide_desc" rows="5"></textarea>
					  </div>

						<div class="text-center">
							<button class="btn btn-outline-success" :disabled="!createGuideBtnEnable" @click="createNewGuide">建立導覽</button>
							<br/><small class="text-danger" v-show="!createGuideBtnEnable">請確實填寫所有資料</small>
						</div>
					</div>
				</div>

				<!-- 編輯導覽 -->
				<div v-show="step == 'editor'">

					<div class="mainEditor">

						<div id="mainEditor" class="carousel slide" data-interval="false" data-keyboard="false">
						  <div class="carousel-inner">

								<!-- 導覽封面編輯 -->
						    <div class="carousel-item">
									<div class="editorBorder editorGuideMain">
										<div class="row">

											<div class="col-6">

												<h3 class="text-center">導覽封面</h3>

												<div class="editGuideImageDiv" @click="guideImageFileClick">
													<div class="editGuideImageHint">
														<span>變更封面圖片</span>
													</div>
													<img :src="guide_image_src" class="img-fluid" />
												</div>

											</div>

											<div class="col-6">

												<div class="form-group">
													<label>導覽名稱</label>
													<input type="text" class="form-control" placeholder="請輸入導覽名稱" v-model="guide_title">
												</div>

												<div class="form-group">
													<label>導覽介紹</label>
													<textarea class="form-control mt-3" placeholder="導覽介紹" v-model="guide_desc" rows="5"></textarea>
												</div>

												<!-- <div class="form-group">
													<label>公開範圍</label>
													<select class="form-control" v-model="guide_publicity">
														<option value="0">所有人</option>
														<option value="2">僅有自己(草稿)</option>
													</select>
												</div> -->

											</div>

										</div>

										<div class="collapse" id="guideMoreSetting">
											<div class="card card-body">
												<div class="form-group">
													<label>導覽語言</label>
													<select class="form-control" v-model="guide_language">
														<option value="0">繁體中文</option>
														<option value="1">English</option>
														<option value="2">简体中文</option>
														<option value="3">日本語</option>
														<option value="4">한국어</option>
														<option value="5">台語</option>
														<option value="6">русский язык</option>
														<option value="7">Tiếng Việt</option>
														<option value="8">ไทย</option>
														<option value="9">Bahasa Melayu</option>
													</select>
												</div>

												<div class="form-group">
													<label>導覽分類</label>
													<select class="form-control" v-model="guide_type">
														<option value="0">休閒美景</option>
														<option value="1">歷史文化</option>
														<option value="2">自然生物</option>
														<option value="3">農場民宿</option>
														<option value="4">博物館</option>
														<option value="5">文創藝術</option>
														<option value="6">美食</option>
														<option value="7">逛街購物</option>
														<option value="8">單車</option>
														<option value="9">登山</option>
														<option value="10">展覽</option>
													</select>
												</div>

												<div class="form-group">
													<label>導覽位置</label>
													<div class="row">
														<div class="col">
															<div class="input-group">
																<div class="input-group-prepend">
																	<span class="input-group-text">經度</span>
																</div>
																<input type="number" class="form-control" v-model="guide_lng">
															</div>
														</div>

														<div class="col">
															<div class="input-group">
																<div class="input-group-prepend">
																	<span class="input-group-text">緯度</span>
																</div>
																<input type="number" class="form-control" v-model="guide_lat">
															</div>
														</div>
													</div>
												</div>

  										</div>
										</div>

										<div class="text-center mt-3">
											<button class="btn btn-success" :disabled="!editGuideSaveBtnEnable" @click="editGuideSave">儲存</button>
											<button class="btn btn-secondary" @click="cancelGuideEdit">放棄</button>
											<button class="btn btn-info" type="button" data-toggle="collapse" data-target="#guideMoreSetting" aria-expanded="false" aria-controls="guideMoreSetting">
										    進階設定
										  </button>
										</div>
									</div>
						    </div>

								<!-- 編輯主畫面 -->
						    <div class="carousel-item active">
									<div class="editorBorder">
										<div class="row">

											<div class="col-3">
												<button class="btn btn-primary" @click="editGuide">編輯導覽封面</button>

												<h3 class="mt-4">景點列表</h3>
												<hr/>
												<div v-if="guide_spots.length == 0">
													<p class="text-danger">
														請拖曳右方地圖或在地圖上點擊右鍵建立景點
													</p>
												</div>

												<div v-if="guide_spots.length > 0">
													<ul class="editorSideBar">
														<li v-for="(item, index) in guide_spots" @click="spotListClick(index)">
															<div v-text="'景點' + (index+1) + ': ' + item.title"></div>
															<div>
																<span @click="spotOrderDown(index)"><i class="fas fa-arrow-circle-down"></i></span>
																<span @click="spotOrderUp(index)"><i class="fas fa-arrow-circle-up"></i></span>
															</div>
														</li>
													</ul>
												</div>

											</div>

											<div class="col">
												<div class="mapContainer">
													<div id="spotMap" class="spotMap">
													</div>
												</div>
											</div>

										</div>

										<div class="text-center pt-2">
											<button class="btn btn-outline-success">存為草稿</button>
											<button class="btn btn-success ml-2">儲存公開導覽</button>
										</div>
									</div>
						    </div>

								<!-- 景點新增或編輯 -->
						    <div class="carousel-item">
									<div class="editorBorder editorSpotMain">
										<div class="row">

											<div class="col">

												<div class="form-group">
											    <label for="EditSpotTitle">景點名稱</label>
											    <input type="text" class="form-control" id="EditSpotTitle" placeholder="請輸入景點名稱" v-model="editing_spot_title">
											  </div>

												<div class="form-group">
											    <textarea class="form-control mt-3" placeholder="景點介紹" v-model="editing_spot_desc" rows="5"></textarea>
											  </div>

												<div class="editorSpotMediaDiv mb-3">
													<label>景點多媒體介紹</label>
													<div class="editorSpotMediaContainer">

														<div v-if="editing_spot_video_id.length > 0" class="editorSpotMediaInner">
															<iframe :src="'https://www.youtube.com/embed/'+editing_spot_video_id+'?rel=0&amp;showinfo=0'" frameborder="0" allow="encrypted-media" style="height:100%;" allowfullscreen="allowfullscreen"></iframe>
															<span class="editorSpotMediaInnerClose" @click="deleteSpotVideo"><i class="fas fa-times"></i></span>
														</div>

														<div v-for="(item, index) in editing_spot_images" class="editorSpotMediaInner">
															<img :src="item"/>
															<span class="editorSpotMediaInnerClose" @click="deleteSpotImage(index)"><i class="fas fa-times"></i></span>
														</div>

														<div class="editorSpotMediaInner editorSpotMediaBtns">
															<span class="text-center"><i class="fas fa-plus-circle"></i> 新增</span>
															<button class="btn btn-outline-success mt-2" @click="spotImageFileClick"><i class="fas fa-camera"></i> 照片/圖片</button>
															<button class="btn btn-outline-primary mt-2" v-show="editing_spot_video_id.length==0" @click="openAddSpotVideoModal"><i class="fas fa-video"></i> youtube影片</button>
														</div>

													</div>
												</div>

												<div class="editorSpotVoiceDiv mb-3">
													<label>景點語音介紹</label>
													<div class="editorSpotVoiceContainer">

														<div v-if="editing_spot_voice.length > 0">
															<audio controls="controls" :src="editing_spot_voice">
															  <source type="audio/mp3"  />
															Your browser does not support the audio element.
															</audio>
															<br/>
															<button class="btn btn-outline-danger mt-2" @click="removeEditingSpotVoice">移除語音</button>
														</div>

														<div v-if="editing_spot_voice.length == 0">
															<input type="file" accept="audio/*" onchange="spotVoiceSelected(this)"></input>
														</div>

													</div>
												</div>

											</div>



										</div>

										<div class="collapse" id="spotMoreSetting">
											<div class="card card-body">

												<div class="form-group">
													<label>景點位置</label>
													<div class="row">
														<div class="col">
															<div class="input-group">
																<div class="input-group-prepend">
																	<span class="input-group-text">經度</span>
																</div>
																<input type="number" class="form-control" v-model="editing_spot_lng">
															</div>
														</div>

														<div class="col">
															<div class="input-group">
																<div class="input-group-prepend">
																	<span class="input-group-text">緯度</span>
																</div>
																<input type="number" class="form-control" v-model="editing_spot_lat">
															</div>
														</div>
													</div>
												</div>

  										</div>
										</div>

										<div class="text-center mt-3">
											<button class="btn btn-success" :disabled="!editingSpotSaveBtnValidate" @click="saveSpot">儲存</button>
											<button class="btn btn-secondary" @click="cancelGuideEdit">放棄</button>
											<button class="btn btn-info" type="button" data-toggle="collapse" data-target="#spotMoreSetting" aria-expanded="false" aria-controls="spotMoreSetting">
										    進階設定
										  </button>
										</div>
									</div>
						    </div>

						  </div>
						</div>

					</div>

				</div>

			</div>

			<!-- modals -->
			<div class="modal fade" id="spotAppendVideoModal" tabindex="-1" role="dialog" aria-labelledby="spotAppendVideoModal" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title">請輸入youtube影片網址</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="youtube影片連結" v-model="editing_spot_input_video_url">
							</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
			        <button type="button" class="btn btn-primary" @click="setSpotVideo">新增影片</button>
			      </div>
			    </div>
			  </div>
			</div>

			<div class="fixed-loading" v-show="ajaxing">
				<i class="fas fa-spinner fa-3x fa-spin"></i>
			</div>

		</div>
	</body>
</html>
<% include include/scripts %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPq1hNS-hLK2mv7hpDXJnG18c9ovlyHoM&callback=initMap" async defer></script>
<script>
  var app = null;

  function initApp(){
    app = new Vue({
      el: '#app',
      data: {
				ajaxing: false,
				step: 'create',

				guide_id: -1,
				guide_title: '',
				guide_image_src: '',
				guide_desc: '',
				guide_language: '0',
				guide_type: '0',
				guide_lng: 121.75,
				guide_lat: 25.143,
				guide_publicity: "2",

				guide_spots: [],

				editing_spot_id: -1,
				editing_spot_title: '',
				editing_spot_desc: '',
				editing_spot_voice: '',
				editing_spot_video_id: '',
				editing_spot_images: [],
				editing_spot_lng: 0,
				editing_spot_lat: 0,

				editing_spot_input_video_url: '',

				infowindow: null,
      },
      mounted: function(){

      },
      watch: {
				guide_lng: function(val){
					this.guide_lng = parseFloat(val);
				},
				guide_lat: function(val){
					this.guide_lat = parseFloat(val);
				},
				editing_spot_lng: function(val){
					this.editing_spot_lng = parseFloat(val);
				},
				editing_spot_lat: function(val){
					this.editing_spot_lat = parseFloat(val);
				},
      },
      updated: function(){

      },
      computed: {
				createGuideBtnEnable: function(){
					return this.step == 'create' && this.guide_title.length > 0 && this.guide_image_src.length > 0 && this.guide_desc.length > 0;
				},
				editGuideSaveBtnEnable: function(){
					return this.guide_title.length > 0 && this.guide_image_src.length > 0 && this.guide_desc.length > 0;
				},
				videoInputID: function(){
          name = 'v';
          var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
              results = regex.exec(this.editing_spot_input_video_url);
          if (!results) return null;
          if (!results[2]) return '';
          return decodeURIComponent(results[2].replace(/\+/g, ' '));
        },
				editingSpotObj: function(){
					var obj = {};
					obj.id = this.editing_spot_id;
					obj.title = this.editing_spot_title;
					obj.desc = this.editing_spot_desc;
					obj.voice = this.editing_spot_voice;
					obj.video_id = this.editing_spot_video_id;
					obj.images = this.editing_spot_images;
					obj.lng = this.editing_spot_lng;
					obj.lat = this.editing_spot_lat;
					return obj;
				},
				editingSpotSaveBtnValidate: function(){
					if(this.editingSpotObj.title.trim().length == 0){
						return false;
					}
					return true;
				}
      },
      methods: {
				//切換
				gotoEditor: function(){
					this.step = 'editor';
				},
				gotoGuideEditor: function(){
					$('#mainEditor').carousel(0);
				},
				gotoMapEditor: function(){
					$('#mainEditor').carousel(1);
					$('#spotMoreSetting').collapse('hide');
					$('#guideMoreSetting').collapse('hide');
				},
				gotoSpotEditor: function(){
					$('#mainEditor').carousel(2);

				},
				//
				guideImageFileClick: function(){
					$('#createGuideImageUrl').click();
				},
				spotImageFileClick: function(){
					$('#addSpotImageUrl').click();
				},
				createNewGuide: function(){
					//真正建立新的Guide，取得新guide的相關資料後進行設定，再進到下一步
					this.gotoEditor();
				},
				cancelGuideEdit: function(){
					this.gotoMapEditor();
				},
				insertNewSpot: function(lat, lng){
					console.log('new spot @'+lat+','+lng);
					this.editing_spot_id = -1;
					this.editing_spot_title = '';
					this.editing_spot_desc = '';
					this.editing_spot_voice = '';
					this.editing_spot_video_id = '';
					this.editing_spot_images = [];
					this.editing_spot_lng = lng;
					this.editing_spot_lat = lat;
					this.gotoSpotEditor();
				},
				deleteSpotImage: function(index){
					this.editing_spot_images.splice(index, 1);
				},
				openAddSpotVideoModal: function(){
					this.editing_spot_input_video_url = '';
					$('#spotAppendVideoModal').modal('show');
				},
				deleteSpotVideo: function(){
					this.editing_spot_video_id = '';
				},
				setSpotVideo: function(){
					if(this.videoInputID && this.videoInputID.length>0){
						this.editing_spot_video_id = this.videoInputID;
					}
					$('#spotAppendVideoModal').modal('hide');
				},
				removeEditingSpotVoice: function(){
					this.editing_spot_voice = '';
				},
				getSpotById: function(id){
					for(var i=0;i<this.guide_spots.length;i++){
						if(this.guide_spots[i].id == id){
							return this.guide_spots[i];
						}
					}
					return null;
				},
				saveSpot: function(){
					//根據id判斷是要新增或是update景點，然後切回主視窗並ajax更新guide的spot清單
					if(this.editingSpotObj.id == -1){
						//create
						this.editing_spot_id = new Date().getTime();
						this.guide_spots.push(this.editingSpotObj);
					}else{
						//update
						if(this.getSpotById(this.editingSpotObj.id)!=null){
							var tmp = this.getSpotById(this.editingSpotObj.id);
							tmp.title = this.editing_spot_title;
							tmp.desc = this.editing_spot_desc;
							tmp.voice = this.editing_spot_voice;
							tmp.video_id = this.editing_spot_video_id;
							tmp.images = this.editing_spot_images;
							tmp.lng = this.editing_spot_lng;
							tmp.lat = this.editing_spot_lat;
						}
					}

					refreshMapWithSpots(this.guide_spots);
					this.gotoMapEditor();
				},
				editSpot: function(id){
					var spot = this.getSpotById(id);
					if(spot != null){
						this.editing_spot_id = spot.id;
						this.editing_spot_title = spot.title;
						this.editing_spot_desc = spot.desc;
						this.editing_spot_voice = spot.voice;
						this.editing_spot_video_id = spot.video_id;
						this.editing_spot_images = [...spot.images];
						this.editing_spot_lng = spot.lng;
						this.editing_spot_lat = spot.lat;
						this.gotoSpotEditor();
					}
				},
				removeSpot: function(id){
					if(this.infowindow!=null){
						this.infowindow.close();
					}
					for(var i=0;i<this.guide_spots.length;i++){
						if(this.guide_spots[i].id == id){
							this.guide_spots.splice(i, 1);
							refreshMapWithSpots(this.guide_spots);
							return;
						}
					}
				},
				spotListClick: function(index){
					var spot = this.guide_spots[index];
					this.showSpotInfo(spot);
				},
				showSpotInfoBySpotId: function(id){
					var spot = this.getSpotById(id);
					this.showSpotInfo(spot);
				},
				showSpotInfo: function(spot){
					var marker = null;
					for(var i=0;i<markers.length;i++){
						if(markers[i].id == spot.id){
							marker = markers[i];
							break;
						}
					}
					if(marker!=null){
						if(this.infowindow != null){
							this.infowindow.close();
						}
						this.infowindow = createSpotInfo(spot);
						this.infowindow.open(map, marker);
					}
				},
				editGuide: function(){
					//這邊要先從資料庫更新guide相關資料
					this.gotoGuideEditor();
				},
				editGuideSave: function(){
					//這邊要把GUIDE資料存回DB
					this.gotoMapEditor();
				},
				spotOrderDown: function(index){
					if(index < this.guide_spots.length - 1){
						var tmp = this.guide_spots[index];
						this.guide_spots.splice(index, 1);
						this.guide_spots.splice(index+1, 0, tmp);
					}
				},
				spotOrderUp: function(index){
					if(index > 0){
						var tmp = this.guide_spots[index];
						this.guide_spots.splice(index, 1);
						this.guide_spots.splice(index-1, 0, tmp);
					}
				},
      }
    });
  }

	function readFileAndUpdateGuideImageSrc(input) {
	  if (input.files && input.files[0]) {
	    var reader = new FileReader();
	    reader.onload = function(e) {
				app.guide_image_src = e.target.result;
	    }
	    reader.readAsDataURL(input.files[0]);
	  }
	}

	function readFileAndAppendSpotImageSrc(input){
		if (input.files && input.files[0]) {
	    var reader = new FileReader();
	    reader.onload = function(e) {
				app.editing_spot_images.push(e.target.result);
	    }
	    reader.readAsDataURL(input.files[0]);
	  }
	}

	function spotVoiceSelected(filelist){
		app.editing_spot_voice = URL.createObjectURL(filelist.files[0]);
	}

	var map;
	var gevt;
	var tmpMarker;
	function initMap() {
		var center = {lng: 121.52103495560655, lat: 25.06495901799055};

		map = new google.maps.Map(document.getElementById('spotMap'), {
			center: center,
			zoom: 14,
			fullscreenControl: false,
			streetViewControl: false,
			mapTypeControl: false,
		});

		var infowindow = new google.maps.InfoWindow({
      content: '<div><button class="btn btn-outline-danger" onclick="newSpotRightClick()"><i class="fas fa-plus-circle"></i> 在此處建立新的景點</button></div>'
    });

		tmpMarker = new google.maps.Marker({
			position: {lat:0, lng:0},
			map: map,
			title: 'tmp'
		});

		map.addListener('rightclick', function(evt){
			console.log('right clicked!');
			console.log(evt);
			gevt = evt;
			tmpMarker.setPosition({
				lat: evt.latLng.lat(),
				lng: evt.latLng.lng(),
			});

			infowindow.open(map, tmpMarker);
		});

		map.addListener('dragstart', function(){
			$('#createSpotMapBtn').css('opacity', '0');
		});

		map.addListener('dragend', function(){
			$('#createSpotMapBtn').css('opacity', '1');
		});

		map.addListener('click', function(evt){
			console.log(evt);
		});

		var $cbtn = $('<button id="createSpotMapBtn" onclick="newSpotMapCenter()">在此新增景點</button>');
		$cbtn.addClass('btn');
		$cbtn.addClass('btn-danger');
		$cbtn.addClass('stick-right');

		var $outer = $('<div><i class="fas fa-3x fa-map-marker-alt"></i></div>');
		$outer.append($cbtn);
		$outer.addClass('text-danger');

		map.controls[google.maps.ControlPosition.CENTER].push($outer[0]);
	}

	function createSpotInfo(spot){
		var $outer = $('<div></div>');
		$outer.append($('<h5 class="text-center">'+spot.title+'</h5>'));
		var $res = $('<div class="list-group"></div>');
		var $editBtn = $('<button type="button" onclick="editSpot('+spot.id+')" class="list-group-item list-group-item-action">編輯</button>');
		var $delBtn = $('<button type="button" onclick="removeSpot('+spot.id+')" class="list-group-item list-group-item-action">移除</button>');
		$res.append($editBtn);
		$res.append($delBtn);
		$outer.append($res);
		var info = new google.maps.InfoWindow({
      content: $outer[0].outerHTML
		});
		return info;
	}

	function editSpot(id){
		app.editSpot(id);
	}

	function removeSpot(id){
		app.removeSpot(id);
	}


	var markers = [];
	function refreshMapWithSpots(spots){
		for(var i=0;i<markers.length;i++){
			markers[i].setMap(null);
		}
		markers = [];

		var popworldImg = '/assets/imgs/pop2.png';
		for(var i=0;i<spots.length;i++){
			const spotPos = {lng: spots[i].lng, lat: spots[i].lat};
			const spotID = spots[i].id;
			const spotMarker = new google.maps.Marker({position: spotPos, map: map, icon: popworldImg});
			spotMarker.addListener('click', function(evt){
				console.log(evt);
				console.log(spotID);
				app.showSpotInfoBySpotId(spotID);
			});
			spotMarker.id = spotID;
			markers.push(spotMarker);
		}
	}



	function newSpotRightClick(){
		app.insertNewSpot(gevt.latLng.lat(), gevt.latLng.lng());
	}

	function newSpotMapCenter(){
		app.insertNewSpot(map.center.lat(), map.center.lng());
	}

  $(document).ready(function(){
		initApp();

  });
</script>
