<!DOCTYPE HTML>
<html id="top">
	<head>
    <title>Popworld 導覽製作流程</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

		<% include include/css %>

		<link rel="stylesheet" href="/assets/css/bootstrap-switch.css" />
    <style>

			/* global */
			.ask-for-pic{
				cursor: pointer;
				position: relative;
			}

			.ask-for-pic>.add-panel{
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #999;
				border: dashed 2px #999;
				border-radius: .3em;
			}

			.ask-for-pic>.pic-panel{
				background-color: #444;
		    width: 100%;
		    height: 100%;
			}

			.ask-for-pic>.pic-panel>img{
				width: 100%;
		    height: 100%;
		    object-fit: contain;
			}


			.ask-for-pic>.pic-panel>.hint{
				color: #fff;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,.5);
				opacity: 0;
				transition: opacity .4s ease;
				display: flex;
		    justify-content: center;
		    align-items: center;
		    font-size: 2em;
			}

			.ask-for-pic:hover>.pic-panel>.hint{
				opacity: 1;
			}


			/* editor pages*/
			.editor-height-limit{
				position: relative;
				height: 100vh;
			}

			.editor-nav{
				position: relative;
				padding-top: 2px;
				height: 45px;
			}

			.editor-content{
				position: relative;
				height: calc( 100% - 45px);
			}

			.editor-content-page{
				height: 100%;
			}

			/* 導覽封面編輯 */
			.guide-edit-page{
				height: 100%;
				padding: 2em;
			}

			/* spot編輯 */
			.spot-edit-page{
				display: flex;
				flex-direction: column;
			}

			.spot-editor-right{
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				height: 300px;
				position: relative;
			}

			.spot-editor-left{
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				position: relative;
		    padding: 0 .5em;
				height: 400px;
			}

			.spot-editor-left-top{
				position: relative;
				display: flex;
				flex-direction: row;
				align-items: stretch;
				height: 100px;
			}

			.spot-editor-left-bottom{
				position: relative;
				height: calc(100% - 100px);
				padding: .5em 0;
			}

			.spot-editor-right>div{
				position: relative;
				height: 100%;
				overflow-y: scroll;
			}

			@media (min-width: 1024px){
				.spot-edit-page{
					height: 100%;
					flex-direction: row;
					align-items: stretch;
				}

				.spot-editor-right{
					-ms-flex: 0 0 50%;
					flex: 0 0 50%;
					max-width: 50%;
					height: 100%;
				}

				.spot-editor-left{
					-ms-flex: 0 0 50%;
					flex: 0 0 50%;
					max-width: 50%;
					height: 100%;
				}
			}

			.spotlist-div{
				position: relative;
				-ms-flex: 1 1;
				flex: 1 1;
				overflow-x: scroll;
			}

			.spotlist-div::-webkit-scrollbar{
				width: 5px;
			}

			.spotlist-div::-webkit-scrollbar-track {
			  box-shadow: inset 0 0 3px grey;
				border-radius: 3px;
			}

			.spotlist-div::-webkit-scrollbar-thumb {
			  background: #aaa;
			}

			.spotlist-div::-webkit-scrollbar-thumb:hover {
			  background: #555;
			}

			.spotlist-div>ul{
				margin: 0;
    		padding: 0;
				height: 100%;
				display: flex;
				flex-direction: row;
			}

			.spotlist-div>ul>li{
				list-style: none;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
		    padding: 0 1em;
				width: 100px;
		    min-width: 100px;
				position: relative;
			}

			.spotlist-div>ul>li>img{
				width: 50px;
		    height: 50px;
		    border-radius: 50%;
		    object-fit: cover;
				cursor: pointer;
				box-shadow: 1px 1px 4px #a2a2a2;
			}

			.spotlist-div>ul>li>h6{
				max-width: 100px;
		    margin: 0;
			}

			.spotlist-div>ul>li>.spot-del-icon{
				position: absolute;
				right: 0;
				top: 0;
				transition: opacity .4s ease;
				cursor: pointer;
				opacity: 0;
			}

			.spotlist-div>ul>li:hover>.spot-del-icon{
				opacity: 1;
			}

			.spotlist-div>ul>li>.spot-del-icon>a{
				color: #faa;
			}

			.spotlist-div>ul>li>.spot-del-icon>a:hover{
				color: #f00;
			}

			.newspot-div{
				position: relative;
				padding: .5em;
				-ms-flex: 0 0;
				flex: 0 0;
			}

			.newspot-icon-div{
				border-color: #aaa;
		    color: #aaa;
				transition: all .4s ease;
				cursor: pointer;
			}

			.newspot-icon-div:hover{
				border-color: #eaa;
		    color: #eaa;
			}

			.newspot-icon{
				width: 50px;
		    height: 50px;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
		    border-radius: 50%;
				border-style: dashed;
				border-width: 2px;
			}

			.spotMap{
				width: 100%;
				min-height: 100%;
			}

			/* 進階編輯 */
			.editorSpotMediaDiv{
				padding: 10px;
		    background-color: #e5efed;
		    border-radius: 5px;
			}

			.editorSpotMediaContainer{
				height: 200px;
				position: relative;
				background-color: #f1f7f6;
				display: flex;
				flex-direction: row;
				padding: 5px;
				overflow-x: scroll;
			}

			.editorSpotMediaInner{
				height: 100%;
				padding: 15px;
				background-color: rgba(0, 0, 0, 0.3);
		    border-radius: 15px;
				position: relative;
				margin-right: 10px;
			}

			.editorSpotMediaInner>img{
				max-height: 100%;
			}

			.editorSpotMediaInnerClose{
				position: absolute;
		    right: 15px;
		    top: 15px;
		    color: #fff;
		    background-color: #000;
		    width: 30px;
		    height: 30px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    border-radius: 50%;
				cursor: pointer;
		    opacity: 0;
		    transition: opacity .4s ease;
			}

			.editorSpotMediaInner:hover .editorSpotMediaInnerClose{
				opacity: 1;
			}

			.editorSpotMediaBtns{
				background-color: transparent;
		    display: flex;
				flex-direction: column;
		    justify-content: center;
		    align-items: center;
			}

			.editorSpotVoiceDiv{
				padding: 10px;
		    background-color: #e5efed;
		    border-radius: 5px;
			}

			.editorSpotVoiceContainer{
				position: relative;
				background-color: #f1f7f6;
				display: flex;
				flex-direction: row;
				padding: 5px;
			}

      .onmap-search-div{
        background-color: #fff;
        border-radius: 5px;
				margin: 3px;
        padding: 5px;
        max-width: 300px;
      }

			/* result panel */
			.result-div{
				max-width: 500px;
		    margin: 0 auto;
			}

			/* loading */
			.fixed-loading{
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,.5);
				display: flex;
				justify-content: center;
				align-items: center;
				color: #fff;
			}

			/* fix alert*/
			.alert-div{
				position: fixed;
		    top: 0;
		    left: 0;
		    width: 100%;
			}

			/* switch button */
			:root{
				--sw-switch-width: 80px;
				--sw-switch-height: 30px;
				--sw-false-bg-color: #eee;
				--sw-true-bg-color: #17a2b8;
				--sw-false-color: #000;
				--sw-true-color: #fff;
			}

			.vue-switch{
				display: inline-block;
				position: relative;
				width: var(--sw-switch-width);
				height: var(--sw-switch-height);
				border-radius: 999px;
				background-color: var(--sw-false-bg-color);
				color: var(--sw-false-color);
				cursor: pointer;
				transition: color .4s ease, background-color .4s ease;
			}

			.vue-switch.sw-actived{
				background-color: var(--sw-true-bg-color);
				color: var(--sw-true-color);
			}

			.vue-switch::after{
				content: '';
				width: calc(var(--sw-switch-height) - 6px);
				height: calc(var(--sw-switch-height) - 6px);
				position: absolute;
				background-color: #fff;
				border-radius: 50%;
				left: 3px;
				top: 3px;
				transition: transform .4s ease;
		    box-shadow: 1px 1px 5px #cecece;
			}

			.vue-switch.sw-actived::after{
				transform: translate( calc( var(--sw-switch-width) - var(--sw-switch-height) - 3px ) , 0);
			}

			.vue-switch .sw{
				position: absolute;
				top: 50%;
				transform: translate(0, -50%);
				transition: opacity .4s ease;
			}

			.vue-switch .sw-true{
				left: 12px;
				opacity: 0;
			}

			.vue-switch.sw-actived .sw-true{
				opacity: 1;
			}

			.vue-switch .sw-false{
				right: 12px;
			}

			.vue-switch.sw-actived .sw-false{
				opacity: 0;
			}
    </style>
  </head>
	<body class="bg-light">

		<div id="app">

			<input type="file" class="d-none" id="createGuideImageUrl" onchange="readFileAndUpdateGuideImageSrc(this)">
			<input type="file" class="d-none" id="addSpotImageUrl" onchange="readFileAndAppendSpotImageSrc(this)">
			<input type="file" class="d-none" id="createSpotImageUrl" onchange="readFileAndUpdateNewSpotImageSrc(this)">


			<div class="container">

				<div>

					<div class="editor-height-limit">

						<!-- 最上方的步驟控管 -->
						<div class="editor-nav">
							<h2 class="text-center" v-text="stepTitle"></h2>

							<div class="position-absolute" style="left:0;top:2px;">
								<button class="btn btn-outline-secondary" @click="backStep" :class="{'invisible': step==0}"><i class="fas fa-arrow-circle-left"></i> 返回</button>
							</div>

							<div class="position-absolute" style="right:0;top:2px;">
								<button class="btn btn-success" @click="nextStep" :class="{'invisible': step==2}">繼續 <i class="fas fa-arrow-alt-circle-right"></i></button>
							</div>
						</div>

						<div class="editor-content">

							<!-- 導覽封面編輯 -->
							<div class="editor-content-page" v-show="step == 0">

								<!-- 步驟1 導覽封面編輯 -->
								<div class="guide-edit-page">
									<div class="row">

										<div class="col-12 col-lg-6 py-3">
											<div class="ask-for-pic" style="height:400px;" @click="guideImageFileClick">
												<div class="add-panel" v-show="guide_image_src.length == 0">
													<i class="fas fa-2x fa-plus-circle"></i>
													<span class="mx-2">導覽封面圖片</span>
												</div>
												<div class="pic-panel" v-show="guide_image_src.length > 0">
													<div class="hint">
														<span>變更封面圖片</span>
													</div>
													<img :src="guide_image_src"/>
												</div>
											</div>
											<small>上傳的照片不可超過10MB</small>
										</div>

										<div class="col-12 col-lg-6">

											<div class="form-group">
												<label>導覽名稱</label>
												<input type="text" class="form-control" id="guideTitleInput" placeholder="例如：台北城一日遊、淡水十大美食" v-model="guide_title">
											</div>

											<div class="form-group">
												<label>導覽介紹</label>
												<textarea class="form-control mt-1" id="guideDescInput" placeholder="用幾句話說明這份導覽吧" v-model="guide_desc" rows="5"></textarea>
											</div>

											<div class="form-group">
												<label>導覽語言</label>
												<select class="form-control" v-model="guide_language">
													<option value="0">繁體中文</option>
													<option value="1">English</option>
													<option value="2">简体中文</option>
													<option value="3">日本語</option>
													<option value="4">한국어</option>
													<option value="5">台語</option>
													<option value="6">русский язык</option>
													<option value="7">Tiếng Việt</option>
													<option value="8">ไทย</option>
													<option value="9">Bahasa Melayu</option>
												</select>
											</div>

											<div class="form-group">
												<label>導覽分類</label>
												<select class="form-control" v-model="guide_type">
													<option value="0">休閒美景</option>
													<option value="1">歷史文化</option>
													<option value="2">自然生物</option>
													<option value="3">農場民宿</option>
													<option value="4">博物館</option>
													<option value="5">文創藝術</option>
													<option value="6">美食</option>
													<option value="7">逛街購物</option>
													<option value="8">單車</option>
													<option value="9">登山</option>
													<option value="10">展覽</option>
												</select>
											</div>

										</div>

									</div>

								</div>

							</div>

							<!-- 步驟2 spot編輯 -->
							<div class="editor-content-page" v-show="step == 1">
								<div class="spot-edit-page">

									<div class="spot-editor-left">

										<div class="spot-editor-left-top">

											<div class="spotlist-div">
												<ul>
													<li v-for="(item, index) in guide_spots">
														<img :src="item.images[0]" @click="toEditSpot(item.id)"/>
														<h6 class="text-center text-truncate" v-text="item.title"></h6>
														<div class="spot-del-icon" @click="">
															<a href="#" data-toggle="modal" data-target="#spotDelConfirmModal"><i class="fas fa-trash-alt"></i></a>
														</div>
													</li>
													<li class="newspot-icon-div" v-show="guide_spots.length <= 4">
														<div class="newspot-icon" @click="newSpotBtnClicked">
															<i class="fas fa-plus"></i>
														</div>
														<h6 class="text-center">新增</h6>
													</li>
												</ul>
											</div>

											<div class="newspot-div" v-show="guide_spots.length > 4">
												<div class="newspot-icon-div">
													<div class="newspot-icon" @click="newSpotBtnClicked">
														<i class="fas fa-plus"></i>
													</div>
													<h6 class="text-center">新增</h6>
												</div>

											</div>

										</div>

										<div class="spot-editor-left-bottom">

											<div id="spotMap" class="spotMap">
											</div>

										</div>

									</div>

									<div class="spot-editor-right">
										<div>

											<!-- 什麼都沒有的panel -->
											<div class="" v-show="guide_map_tool == 'none'">
											</div>

											<!-- 新增景點資料輸入 -->
											<div class="" v-show="guide_map_tool == 'editSpot'">

												<div class="card">
													<div class="card-body">
														<div>

															<div class="float-right">
																<button class="btn btn-sm btn-success" style="width:40px;border-radius: 999px;" @click="editSpotOkBtnClicked"><i class="fas fa-check"></i></button>
															</div>

															<div class="float-right mr-2">
																<button class="btn btn-sm btn-secondary rounded-circle" style="width:31px" @click="editSpotCancelBtnClicked"><i class="fas fa-times"></i></button>
															</div>


															<div class="float-left">
																<div class="vue-switch" :class="{'sw-actived': spot_edit_ad}" @click="spot_edit_ad = !spot_edit_ad">
																	<span class="sw sw-true">進階</span>
																	<span class="sw sw-false">簡易</span>
																</div>
															</div>
														</div>

														<div class="mt-5 mb-2">
															<h4>介紹點位置</h4>
															<small>※從左方地圖搜尋介紹點位置</small><br/>
															<div class="row mt-1" v-show="editing_spot_positioned">
																<div class="col-12 col-lg-6 py-1">
																	<div class="input-group">
																		<div class="input-group-prepend">
																			<span class="input-group-text bg-white text-dark">緯度</span>
																		</div>
																		<input type="text" class="form-control" v-model="editing_spot_lat" disabled>
																	</div>
																</div>
																<div class="col-12 col-lg-6 py-1">
																	<div class="input-group">
																		<div class="input-group-prepend">
																			<span class="input-group-text bg-white text-dark">經度</span>
																		</div>
																		<input type="text" class="form-control" v-model="editing_spot_lng" disabled>
																	</div>
																</div>
															</div>
														</div>

														<hr/>

														<!-- 簡易版編輯 -->
														<div v-show="!spot_edit_ad">

															<div class="mb-2">
																<div class="row">
																	<div class="col-12 col-lg-6">
																		<div class="ask-for-pic" style="height:200px;" @click="newSpotImageFileClick">
																			<div class="add-panel" v-show="editing_spot_images.length == 0">
																				<i class="fas fa-2x fa-plus-circle"></i>
																				<span class="mx-2">介紹圖片</span>
																			</div>
																			<div class="pic-panel" v-show="editing_spot_images.length > 0">
																				<div class="hint">
																					<span>變更介紹圖片</span>
																				</div>
																				<img :src="editing_spot_images[0]"/>
																			</div>
																		</div>
																		<small>上傳的照片不可超過10MB</small>
																	</div>
																	<div class="col-12 col-lg-6">
																		<input type="text" class="form-control mb-2" id="simpleSpotTitleInput" placeholder="介紹標題" v-model="editing_spot_title">
																		<textarea class="form-control mb-2" id="simpleSpotDescInput" placeholder="介紹文字" rows="6"  v-model="editing_spot_desc"></textarea>
																	</div>
																</div>
															</div>

														</div>

														<!-- 進階版編輯 -->
														<div v-show="spot_edit_ad">

															<div class="row">

																<div class="col">

																	<div class="form-group">
																		<input type="text" class="form-control" id="spotTitleInput" placeholder="介紹標題" v-model="editing_spot_title">
																	</div>

																	<div class="form-group">
																		<textarea class="form-control mt-3" id="spotDescInput" placeholder="介紹文字" v-model="editing_spot_desc" rows="5"></textarea>
																	</div>

																	<div class="editorSpotMediaDiv mb-3">
																		<label>介紹圖片與影片</label>
																		<div class="editorSpotMediaContainer">

																			<div v-if="editing_spot_video_id.length > 0" class="editorSpotMediaInner">
																				<iframe :src="'https://www.youtube.com/embed/'+editing_spot_video_id+'?rel=0&amp;showinfo=0'" frameborder="0" allow="encrypted-media" style="height:100%;" allowfullscreen="allowfullscreen"></iframe>
																				<span class="editorSpotMediaInnerClose" @click="deleteSpotVideo"><i class="fas fa-times"></i></span>
																			</div>

																			<div v-for="(item, index) in editing_spot_images" class="editorSpotMediaInner">
																				<img :src="item"/>
																				<span class="editorSpotMediaInnerClose" @click="deleteSpotImage(index)"><i class="fas fa-times"></i></span>
																			</div>

																			<div class="editorSpotMediaInner editorSpotMediaBtns">
																				<button class="btn btn-outline-success btn-block" @click="spotImageFileClick" v-if="editing_spot_images.length < 4"><i class="fas fa-camera"></i> 新增 照片/圖片</button>
																				<button class="btn btn-outline-primary btn-block" @click="openAddSpotVideoModal" v-if="editing_spot_video_id.length == 0"><i class="fas fa-video"></i> 新增 youtube影片</button>
																			</div>

																		</div>
																	</div>

																	<div class="editorSpotVoiceDiv mb-3">
																		<label>語音介紹</label>
																		<div class="editorSpotVoiceContainer">

																			<div v-if="editing_spot_voice.length > 0">
																				<audio controls="controls" :src="editing_spot_voice">
																					<source type="audio/mp3"  />
																				Your browser does not support the audio element.
																				</audio>
																				<br/>
																				<button class="btn btn-outline-danger mt-2" @click="removeEditingSpotVoice">移除語音</button>
																			</div>

																			<div v-if="editing_spot_voice.length == 0">
																				<input type="file" accept="audio/*" onchange="spotVoiceSelected(this)"></input>
																			</div>

																		</div>
																	</div>

																</div>

															</div>

														</div>

													</div>
												</div>

											</div>

										</div>
									</div>

								</div>
							</div>

							<!-- 預覽發布 -->
							<div class="editor-content-page" v-show="step == 2">
								<div class="result-div">
									<div class="card text-center">
									  <div class="card-header" v-text="guide_title">
									  </div>
									  <div class="card-body">
									    <h5 class="card-title">(這邊看之後到底要放什麼使用者會關心的資料)</h5>
											<img class="img-fluid" :src="guide_image_src" />
									    <p class="card-text" v-text="guide_desc"></p>

											<div class="form-group" v-if="guide_spots.length > 0">
												<label>導覽位置</label>
												<div class="row">

													<div class="col">
														<div class="input-group">
															<div class="input-group-prepend">
																<span class="input-group-text">緯度</span>
															</div>
															<input type="number" class="form-control" v-model="guide_spots[0].lat" disabled>
														</div>
													</div>

													<div class="col">
														<div class="input-group">
															<div class="input-group-prepend">
																<span class="input-group-text">經度</span>
															</div>
															<input type="number" class="form-control" v-model="guide_spots[0].lng" disabled>
														</div>
													</div>

												</div>
											</div>

											<div>
												<button class="btn btn-primary">預覽</button>
												<button class="btn btn-info">儲存為草稿</button>
												<button class="btn btn-success">公開導覽</button>
											</div>
									  </div>
									</div>
								</div>
							</div>

						</div>


					</div>

				</div>

				<!-- alert -->
				<div class="alert-div">
				</div>


			</div>


			<!-- modals -->
			<div>

				<!-- 是否確定刪除景點 -->
				<div class="modal fade" id="spotDelConfirmModal" tabindex="-1" role="dialog" aria-labelledby="spotDelConfirmModal" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-body">
								<h4 class="text-center">確定刪除<span class="text-danger" v-text="editing_spot_title"></span>？</h4>
								<div class="text-center">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">放棄</button>
									<button type="button" class="btn btn-primary" @click="deleteEditingSpot">確定</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- youtube影片 -->
				<div class="modal fade" id="spotAppendVideoModal" tabindex="-1" role="dialog" aria-labelledby="spotAppendVideoModal" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">請輸入youtube影片網址</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="youtube影片連結" v-model="editing_spot_input_video_url">
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
								<button type="button" class="btn btn-primary" @click="setSpotVideo">新增影片</button>
							</div>
						</div>
					</div>
				</div>

			</div>


			<div class="fixed-loading" v-show="ajaxing">
				<i class="fas fa-spinner fa-3x fa-spin"></i>
			</div>

		</div>
	</body>
</html>
<% include include/scripts %>
<script src="/assets/js/bootstrap-switch.js"></script>
<script>
  var app = null;

  function initApp(){
    app = new Vue({
      el: '#app',
      data: {
				ajaxing: false,

				step: 0,
				guide_map_tool: 'none',

				guide_id: -1,
				guide_title: '',
				guide_image_src: '',
				guide_desc: '',
				guide_language: '0',
				guide_type: '0',
				guide_lng: 120.8,
				guide_lat: 23.7,
				guide_publicity: "2",

				spot_edit_ad: false,

				guide_spots: [],

				editing_spot_id: -1,
				editing_spot_title: '',
				editing_spot_desc: '',
				editing_spot_voice: '',
				editing_spot_video_id: '',
				editing_spot_images: [],
				editing_spot_lng: 0,
				editing_spot_lat: 0,
				editing_spot_positioned: false,
				editing_spot_input_video_url: '',

				infowindow: null,
      },
      mounted: function(){

      },
      watch: {
				guide_map_tool: function(val){
					if(val == 'editSpot'){
						showSearch();
					}else{
						hideSearch();
					}
				},
				guide_lng: function(val){
					this.guide_lng = parseFloat(val);
				},
				guide_lat: function(val){
					this.guide_lat = parseFloat(val);
				},
				editing_spot_lng: function(val){
					var f = parseFloat(val);
					if(isNaN(f)){
						this.editing_spot_lng = 0;
					}else{
						this.editing_spot_lng = parseFloat(f.toFixed(5));
					}
				},
				editing_spot_lat: function(val){
					var f = parseFloat(val);
					if(isNaN(f)){
						this.editing_spot_lat = 0;
					}else{
						this.editing_spot_lat = parseFloat(f.toFixed(5));
					}
				},
      },
      updated: function(){

      },
      computed: {
				stepTitle:function(){
					//目前所在步驟的title說明
					if(this.step == 0){
						return '導覽';
					}else if(this.step == 1){
						return '介紹';
					}else if(this.step == 2){
						return '儲存或公開';
					}else{
						return '未知的步驟';
					}
				},

				videoInputID: function(){
          name = 'v';
          var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
              results = regex.exec(this.editing_spot_input_video_url);
          if (!results) return null;
          if (!results[2]) return '';
          return decodeURIComponent(results[2].replace(/\+/g, ' '));
        },
      },
      methods: {
				//Getter
				getEditingSpotObj: function(){
					var obj = {};
					obj.id = this.editing_spot_id;
					obj.title = this.editing_spot_title;
					obj.desc = this.editing_spot_desc;
					obj.voice = this.editing_spot_voice;
					obj.video_id = this.editing_spot_video_id;
					obj.images = [... this.editing_spot_images];
					obj.lng = this.editing_spot_lng;
					obj.lat = this.editing_spot_lat;
					return obj;
				},

				//切換
				gotoMapEditor: function(){
					$('#spotMoreSetting').collapse('hide');
					initMap();
					this.step = 1;
				},
				gotoSpotEditor: function(){
					this.step = 2;
				},

				backStep: function(){
					if(this.step == 1){
						this.step = 0;
					}else if(this.step == 2){
						this.step = 1;
					}
				},
				nextStep: function(){
					if(this.step == 0){
						this.guideEditFinished();
					}else if(this.step == 1){
						if(this.guide_spots.length > 0){
							this.step = 2;
						}else{
							msgAlert('請建立至少一項介紹！', '', 'danger');
						}
					}else if(this.step == 2){

					}
				},

				//地圖工具的切換
				toNoneTool: function(){
					if(this.guide_map_tool == 'none'){
						return;
					}
					this.guide_map_tool = 'none';
				},
				toEditSpotPanel: function(){
					if(this.guide_map_tool == 'editSpot'){
						return;
					}
					this.guide_map_tool = 'editSpot';
				},


				//一些panel的initial
				newSpotPanelInit: function(){

					this.editing_spot_id = -1;
					this.editing_spot_title = '';
					this.editing_spot_desc = '';
					this.editing_spot_voice = '';
					this.editing_spot_video_id = '';
					this.editing_spot_images = [];
					this.editing_spot_lng = 0;
					this.editing_spot_lat = 0;
					this.editing_spot_positioned = false;
					this.editing_spot_input_video_url = '';

				},


        //各種需要儲存到資料庫的動作
				createGuide: function(callback){
					//新建導覽到資料庫
					if(callback!=undefined){
						callback();
					}
				},
				updateGuide: function(callback){
					//更新導覽到資料庫
					if(callback!=undefined){
						callback();
					}
				},
				createSpot: function(sobj, callback){
					//新增景點介紹
					//之後換成真的ajax
					sobj.id = new Date().getTime();
					this.guide_spots.push(sobj);
					if(callback!=undefined){
						callback(sobj);
					}
				},
				updateSpot: function(sobj, callback){
					//更新既存景點
					//之後換成真的ajax
					var tmp = this.findSpotObjById(sobj.id);
					tmp.title = sobj.title;
					tmp.desc = sobj.desc;
					tmp.voice = sobj.voice;
					tmp.video_id = sobj.video_id;
					tmp.images = [...sobj.images];
					tmp.lng = sobj.lng;
					tmp.lat = sobj.lat;

					const _this = this;
					this.readAllSpots(this.guide_id, function(spots){
						_this.editing_spot_id = -1;
						_this.guide_spots = spots;
						refreshMapWithSpots(_this.guide_spots);
						clearTempMarker();
						_this.gotoMapEditor();
						_this.toNoneTool();
					});
				},

				//各種從資料庫讀取資料的動作
				readAllSpots: function(guide_id, callback){
					//讀取指定導覽中所有景點
					if(guide_id == undefined){
						guide_id = this.guide_id;
					}
					//這邊要切換成從資料庫讀取到的景點們
					const spots = [...this.guide_spots];

					if(callback != undefined){
						callback(this.guide_spots);
					}
				},

				//KeyEvents
				inputGuideTitleOnEnterKey: function(){
					if(this.guide_desc.length > 0){
						$('#guideEditFinishBtn').click();
					}else{
						$('#guideDescInput').focus();
					}
				},



				//
				editSpotOkBtnClicked: function(){
					//按下介紹編輯完成的按鈕
					if(!this.editing_spot_positioned){
						msgAlert('請在地圖上點出介紹定位點！', '', 'danger');
						return;
					}
					if(this.editing_spot_title.trim().length == 0){
						msgAlert('請輸入介紹標題！', '', 'danger');
						if(this.spot_edit_ad){
							 $('#spotTitleInput').focus();
						}else{
							$('#simpleSpotTitleInput').focus();
						}
						return;
					}
					if(this.editing_spot_images.length == 0){
						msgAlert('請選擇至少一張介紹照片', '', 'danger');
						return;
					}
					if(this.editing_spot_desc.trim().length == 0){
						msgAlert('請輸入介紹文字！', '', 'danger');
						if(this.spot_edit_ad){
							 $('#spotDescInput').focus();
						}else{
							$('#simpleSpotDescInput').focus();
						}
						return;
					}

					var spotObj = this.getEditingSpotObj();
					if(spotObj.id == -1){
						//建立
						const _this = this;
						this.createSpot(spotObj, function(sObj){
							_this.toNoneTool();
							_this.mapEditorRefresh();
						});
					}else{
						//編輯
						const _this = this;
						this.updateSpot(spotObj, function(sObj){
							_this.toNoneTool();
							_this.mapEditorRefresh();
						});
					}
				},
				editSpotCancelBtnClicked: function(){
					//取消景點介紹編輯按鈕事件
					this.editing_spot_id = -1;
					this.toNoneTool();
					refreshMapWithSpots(this.guide_spots);
				},

				guideEditFinished: function(){
					//導覽編輯畫面，點擊前往景點編輯的動作
					if(this.guide_image_src.length == 0){
						msgAlert('請選擇導覽封面圖片！', '', 'danger');
						return;
					}
					if(this.guide_title.length == 0){
						msgAlert('請輸入導覽名稱！', '', 'danger');
						$('#guideTitleInput').focus();
						return;
					}
					if(this.guide_desc.length == 0){
						msgAlert('請輸入導覽介紹！', '', 'danger');
						$('#guideDescInput').focus();
						return;
					}
					//檢查通過，儲存並進到下一步
					if(this.guide_id == -1){
						this.createGuide(this.guideEditFinishedCallback);
					}else{
						this.updateGuide(this.guideEditFinishedCallback);
					}
        },
				guideEditFinishedCallback: function(){
					//導覽編輯完成(包含對資料庫動作後)的後續動作
					this.mapEditorRefresh();
				},
				mapEditorRefresh: function(){
					//景點地圖畫面讀取資料並重整
					const _this = this;
					this.readAllSpots(this.guide_id, function(spots){
						_this.guide_spots = spots;
						refreshMapWithSpots(_this.guide_spots);
						clearTempMarker();
						_this.gotoMapEditor();
						_this.toNoneTool();
					});
				},
        moveEditingSpotPosition: function(lat, lng){
          this.editing_spot_lat = lat;
					this.editing_spot_lng = lng;
        },
				newSpotBtnClicked: function(){
					//點擊建立新景點的按鈕(打開panel)
					this.newSpotPanelInit();
					refreshMapWithSpots(this.guide_spots);
					this.toEditSpotPanel();

				},
				toEditSpot: function(spot_id){
					//選擇了特定id的spot(進入spot編輯以及顯示地圖上該SPOT點)

					var obj = this.findSpotObjById(spot_id);
					if(obj != null){
						this.editing_spot_id = obj.id;
						this.editing_spot_title = obj.title;
						this.editing_spot_desc = obj.desc;
						this.editing_spot_voice = obj.voice;
						this.editing_spot_video_id = obj.video_id;
						this.editing_spot_images = [...obj.images];
						this.editing_spot_positioned = true;
						this.editing_spot_lng = obj.lng;
						this.editing_spot_lat = obj.lat;

						refreshMapWithSpots(this.guide_spots);
					}
					this.toEditSpotPanel();
				},
				findSpotObjById: function(id){
					//從景點列表中找出特定ID的景點
					if(id == -1){
						return null;
					}
					for(var i=0;i<this.guide_spots.length;i++){
						if(this.guide_spots[i].id == id){
							return this.guide_spots[i];
						}
					}
					return null;
				},
				deleteSpotImage: function(index){
					//從正在編輯的景點的圖片清單中移除一張
					this.editing_spot_images.splice(index, 1);
				},
				openAddSpotVideoModal: function(){
					//開啟添加影片的modal
					this.editing_spot_input_video_url = '';
					$('#spotAppendVideoModal').modal('show');
				},
				deleteSpotVideo: function(){
					//刪除正在編輯的景點的影片
					this.editing_spot_video_id = '';
				},
				setSpotVideo: function(){
					//設定正在編輯中的景點的影片
					if(this.videoInputID && this.videoInputID.length>0){
						this.editing_spot_video_id = this.videoInputID;
					}
					$('#spotAppendVideoModal').modal('hide');
				},
				removeEditingSpotVoice: function(){
					//移除正在編輯中的景點的聲音檔
					this.editing_spot_voice = '';
				},

				guideImageFileClick: function(){
					$('#createGuideImageUrl').click();
				},
				spotImageFileClick: function(){
					$('#addSpotImageUrl').click();
				},
				newSpotImageFileClick: function(){
					$('#createSpotImageUrl').click();
				},
				updateEditingSpotPos: function(){
					//儲存正在編輯的景點的位置
					var tmp = this.findSpotObjById(this.editing_spot_id);
					tmp.lng = this.editing_spot_lng;
					tmp.lat = this.editing_spot_lat;
				},
				deleteEditingSpot: function(){
					//移除正在編輯的景點

					//這邊要套資料庫  先偷懶
					for(var i=0;i<this.guide_spots.length;i++){
						if(this.guide_spots[i].id == this.editing_spot_id){
							this.guide_spots.splice(i, 1);
							break;
						}
					}

					this.toNoneTool();

					refreshMapWithSpots(this.guide_spots);
					$('#spotDelConfirmModal').modal('hide');
				},

				spotOrderDown: function(index){
					//將景點的順序往下移動
					if(index < this.guide_spots.length - 1){
						var tmp = this.guide_spots[index];
						this.guide_spots.splice(index, 1);
						this.guide_spots.splice(index+1, 0, tmp);
					}
				},
				spotOrderUp: function(index){
					//將景點的順序往上移動
					if(index > 0){
						var tmp = this.guide_spots[index];
						this.guide_spots.splice(index, 1);
						this.guide_spots.splice(index-1, 0, tmp);
					}
				},

      }
    });
  }
	var gfile = null;
	function readFileAndUpdateGuideImageSrc(input) {
		//導覽封面的圖片變更
	  if (input.files && input.files[0]) {
	    var reader = new FileReader();
	    reader.onload = function(e) {
				app.guide_image_src = e.target.result;
	    }
	    reader.readAsDataURL(input.files[0]);
			input.value = "";
	  }
	}

	function readFileAndAppendSpotImageSrc(input){
		//景點編輯的圖片追加
		if (input.files && input.files[0]) {
	    var reader = new FileReader();
	    reader.onload = function(e) {
				app.editing_spot_images.push(e.target.result);

	    }
	    reader.readAsDataURL(input.files[0]);
			input.value = "";
	  }
	}

	function readFileAndUpdateNewSpotImageSrc(input) {
		//新增景點的圖片變更
	  if (input.files && input.files[0]) {
	    var reader = new FileReader();
	    reader.onload = function(e) {
				if(app.editing_spot_images.length==0){
					app.editing_spot_images.push(e.target.result);
				}else{
					app.editing_spot_images[0] = e.target.result;
				}
	    }
	    reader.readAsDataURL(input.files[0]);
			input.value = "";
	  }
	}

	function spotVoiceSelected(filelist){
		//景點編輯的聲音檔變更
		app.editing_spot_voice = URL.createObjectURL(filelist.files[0]);
	}

	var spotMap = null;
	var searchBox;
	var mapTempMarker;
	var placeService;

	function initMap() {
		if(spotMap != null){
			return;
		}
		var center = {lng: 120.8, lat: 23.7};

		spotMap = new google.maps.Map(document.getElementById('spotMap'), {
			center: center,
			zoom: 7,
			fullscreenControl: false,
			streetViewControl: false,
			mapTypeControl: false,
		});

    var $mapSearch = $('<div class="onmap-search-div" style="display:none;">'+
			'<div class="input-group">'+
	      '<input type="text" class="form-control" id="mapSearchInput" placeholder="搜尋 Google Map" >'+
	      '<div class="input-group-append">'+
	        '<button class="btn btn-outline-info" type="button" onclick="mapSearchClicked()"><i class="fas fa-search"></i></button>'+
	      '</div>'+
			'</div>'+
    '</div>');

    spotMap.controls[google.maps.ControlPosition.TOP_LEFT].push($mapSearch[0]);

		placeService = new google.maps.places.PlacesService(spotMap);

		var searchInput = $mapSearch.find('#mapSearchInput')[0];
    searchBox = new google.maps.places.SearchBox(searchInput);

		searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();
			mapSearchResultParsing(places);
    });

		spotMap.addListener('dragstart', function(){

		});

		spotMap.addListener('dragend', function(){

		});

		spotMap.addListener('click', function(evt){
			if(app.guide_map_tool == 'editSpot' && app.editing_spot_id == -1){
				console.log(evt);
				if(evt.placeId){
					var req = {};
					req.placeId = evt.placeId;
					req.fields = ['photos', 'formatted_address', 'name', 'rating', 'opening_hours', 'geometry'];
					placeService.getDetails(req, function(place){
						if(place!=null){
							createEditSpotMarker(place.geometry.location.lat(), place.geometry.location.lng());
						}
					});
				}else{
					createEditSpotMarker(evt.latLng.lat(), evt.latLng.lng());
				}
			}
		});

	}

	function showSearch(){
		$('.onmap-search-div').css('display', 'block');
	}

	function hideSearch(){
		$('.onmap-search-div').css('display', 'none');
	}

	function clearTempMarker(){
		//清除臨時的標記
		if(mapTempMarker != null){
			mapTempMarker.setMap(null);
		}
		mapTempMarker = null;
		$('#mapSearchInput').val('');
	}

	function mapSearchClicked(){
		//按下地圖搜尋按鈕
		var req = {};
		req.query = $('#mapSearchInput').val();
		if(req.query.trim().length == 0){
			return;
		}
		req.fields = ['photos', 'formatted_address', 'name', 'rating', 'opening_hours', 'geometry'];
		placeService.findPlaceFromQuery(req, function(places){
			mapSearchResultParsing(places);
		});
	}

	function mapTempMarkerDrag(event){
		app.moveEditingSpotPosition(event.latLng.lat(), event.latLng.lng());
	}

	function createEditSpotMarker(lat, lng, title){
		//地圖上選擇了新景點
		var position = {
			lat: lat,
			lng: lng,
		};
		if(title == undefined){
			title = '新介紹';
		}
		if(mapTempMarker == null){
			mapTempMarker = new google.maps.Marker({
				map: spotMap,
				title: title,
				position: position,
				draggable: true,
			});
			mapTempMarker.addListener('drag', mapTempMarkerDrag);

		}else{
			mapTempMarker.setPosition(position);
		}
		spotMap.setCenter(position);
		spotMap.setZoom(17);
		app.editing_spot_positioned = true;
    app.moveEditingSpotPosition(lat, lng);
		return mapTempMarker;
	}

	var originPos = {
		lat: 0,
		lng: 0,
	};
	function spotMarkerDragStart(event){
		console.log('drag start.');
		originPos.lat = event.latLng.lat();
		originPos.lng = event.latLng.lng();
	}

	function spotMarkerDrag(event){
		app.editing_spot_lng = event.latLng.lng();
		app.editing_spot_lat = event.latLng.lat();
	}

	function spotMarkerDragEnd(event){
		app.editing_spot_lng = event.latLng.lng();
		app.editing_spot_lat = event.latLng.lat();
		$("#spotMoveConfirmModal").modal({
			backdrop: 'static',
			keyboard: false,
		});
	}

	function spotPosMoveCancel(){
		app.editing_spot_lng = originPos.lng;
		app.editing_spot_lat = originPos.lat;
		for(var i=0;i<markers.length;i++){
			if(markers[i]._spot_id == app.editing_spot_id){
				markers[i].setPosition({
					lng: originPos.lng,
					lat: originPos.lat,
				});
			}
		}
		$("#spotMoveConfirmModal").modal('hide');
	}

	function spotPosMoveConfirm(){
		app.updateEditingSpotPos();
		$("#spotMoveConfirmModal").modal('hide');
	}

	function handleDragEvent(event) {
		console.log('lat: '+event.latLng.lat());
		console.log('lng: '+event.latLng.lng());
	}

	var markers = [];
	var spotInfowindow = null;
	var goldStar = {
		path: 'M 0,-120 30,-35 120,-35 55,25 75,105 0,55 -75,105 -50,20 -120,-35 -30,-35 z',
		fillColor: 'yellow',
		fillOpacity: 1,
		scale: 0.1,
		strokeColor: 'gold',
		strokeWeight: 2
	};

	var redStar = {
		path: 'M 0,-120 30,-35 120,-35 55,25 75,105 0,55 -75,105 -50,20 -120,-35 -30,-35 z',
		fillColor: 'red',
		fillOpacity: 1,
		scale: 0.1,
		strokeColor: 'gold',
		strokeWeight: 2
	};

	function refreshMapWithSpots(spots){
		//根據景點清單在地圖上標記所有景點

		clearTempMarker();

		for(var i=0;i<markers.length;i++){
			markers[i].setMap(null);
		}
		markers = [];

		for(var i=0;i<spots.length;i++){
			var spot = spots[i];
			const spotID = spot.id;
			const spotName = spot.title;
			const spotPos = {lng: spot.lng, lat: spot.lat};

			if(spotID == app.editing_spot_id){
				var spotMarker = createEditSpotMarker(spot.lat, spot.lng, spot.name);
				if(spotInfowindow != null){
					spotInfowindow.close();
				}
				spotInfowindow = new google.maps.InfoWindow({
		      content: '<div><h3>'+spotName+'</h3><small class="text-danger">※拖曳編輯景點位置</span></div>'
		    });
				spotInfowindow.open(spotMap, spotMarker);
				markers.push(spotMarker);
			}else{
				const spotMarker = new google.maps.Marker({
					position: spotPos,
					map: spotMap,
					icon: goldStar,
				});

				spotMarker.addListener('click', function(evt){
					app.toEditSpot(spotID);
				});
				spotMarker._spot_id = spotID;
				markers.push(spotMarker);
			}


		}
	}

	/* 把地圖移動到google map的搜尋結果 */
	function mapSearchResultParsing(places){
		if (places == undefined || places.length == 0) {
			msgAlert('Oooops，搜尋不到您輸入的地點喔！', '', 'danger');
			return;
		}

		const place = places[0];
		spotMap.setCenter({lat: place.geometry.location.lat(), lng: place.geometry.location.lng()});
		spotMap.setZoom(17);
		if(!app.editing_spot_positioned){
			createEditSpotMarker(place.geometry.location.lat(), place.geometry.location.lng());
		}
	}

	/* alert */
	function msgAlert(content, title, color_class, period){
		if(!color_class){
			color_class = 'primary';
		}
		if(!period){
			period = 3000;
		}
		const $alertOuter = $('<div style="display:none; position: absolute; top: 1em; left: 10%; width: 80%;" class="alert alert-'+color_class+'" role="alert"></div>');
		if(title!=undefined && title.length>0){
			var $title = $('<h4 class="alert-heading text-center"></h4>');
			$title.text(title);
			$alertOuter.append($title);
		}
		var $content = $('<div class="text-center"></div>');
		$content.text(content);
		$alertOuter.append($content);
		$('.alert-div').append($alertOuter);
		$alertOuter.slideDown();
		setTimeout(function(){
			$alertOuter.slideUp(function(){$alertOuter.remove();});
		}, period);
	}



  $(document).ready(function(){
		initApp();
  });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPq1hNS-hLK2mv7hpDXJnG18c9ovlyHoM&libraries=places"></script>
