<!DOCTYPE HTML>
<html>
	<head>
		<title>蹦世界</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <style>

    </style>
	</head>
	<body>
    <div class="container">
      <ul>
				<li>
          <a href="/speechApp">文字轉語音工具</a>
        </li>
				<li>
          <a href="/transApp">翻譯工具</a>
        </li>
				<li>
          <a href="/fakeIndex">亂刻中的首頁</a>
        </li>
				<li>
          <a href="/game">socket遊戲測試(蓋一半)</a>
        </li>
				<li>
          <a href="/guide">導覽製作流程(正在蓋)</a>
        </li>
				<li>
          ---------------我是分隔線-------------
        </li>
				<li>
          <a href="/maoli1">苗栗-人力資源</a>
        </li>
				<li>
          <a href="/maoli2">苗栗-影音導覽</a>
        </li>
      </ul>
    </div>
	</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>

</script>
