<!DOCTYPE HTML>
<html id="top">
	<head>
    <title>Popworld</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

		<% include include/css %>
    <link rel="stylesheet" href="/assets/css/pop_want_guide.css" />

		<link rel="icon"
      type="image/png"
      href="/assets/imgs/web_title_icon.png">
		<meta property="og:title" content="Popworld蹦世界"></meta>
		<meta property="og:type" content="website"></meta>
		<meta property="og:description" content="自助旅行，背包客，省錢必備手機導遊!"></meta>
		<meta property="og:image" content="/assets/imgs/icon.jpg"></meta>

  </head>
	<body>
		<div id="app">
      <% include include/nav %>
      <div class="main-body">
        <section class="want-guide-banner">
          <div>
            <h1>想去哪裡玩?</h1>
          </div>
        </section>

        <section class="want-guide-formdiv">

          <div class="want-guide-form-title">
            告訴我們<span class="text-danger">您想要去哪裡</span>，蹦世界幫您導遊！
          </div>

          <div class="container">
            <div>

              <div class="want-guide-form mt-4">
                <form>
                  <div class="form-group">
                    <label for="textInput" class="text-black-50">內容</label>
                    <textarea type="text" class="form-control" id="textInput" rows="8" placeholder="請輸入您想要去的國家、城市、景點，什麼類型的旅行(目前以台灣為主)"></textarea>
                    <small class="text-black-50 down-hint">目前只提供戶外導遊，室內需安裝定位裝置，需與場地單位協調>"<</small>
                  </div>
                </form>
              </div>

              <div class="text-center mb-4">
                <button class="btn btn-primary"><i class="far fa-envelope"></i> 送出</button>
              </div>

            </div>
          </div>

        </section>


      </div>

			<% include include/footer %>
		</div>
	</body>
</html>
<% include include/scripts %>

<script>
  var app = null;

  function initApp(){
    app = new Vue({
      el: '#app',
      data: {

      },
      watch: {

      },
      updated: function(){

      },
      computed: {

      },
      methods: {

      }
    });
  }



  $(document).ready(function(){
		initApp();

  });
</script>
