<footer class="footer">

  <div class="footer-links">
    <ul>
      <li>
        <a href="#">關於我們</a>
      </li>
      <li>
        <a href="#">使用者條款</a>
      </li>
      <li>
        <a href="https://www.facebook.com/popworldApp" target="_blank">Facebook</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#">中文</a>
      </li>
      <li>
        <a href="#">English</a>
      </li>
      <li>
        <a href="#">日本語</a>
      </li>
    </ul>
  </div>

  <div class="footer-info">
    <span>蹦世界數位創意股份有限公司</span>
    <span>service@popworld.cc</span>
    <span>10452台北市中山區撫順街8號6樓</span>
    <span>02-2597-9725</span>
  </div>

</footer>
