<!DOCTYPE HTML>
<html id="top">
	<head>
		<% include include/meta %>
		<% include include/css %>
		<link rel="stylesheet" href="assets/css/media.css" />
		<link rel="stylesheet" href="assets/css/travel.css" />
		<link rel="stylesheet" href="assets/css/news.css" />
		<link rel="stylesheet" href="assets/css/index.css" />
  </head>
	<body>
		<div id="app">
			<% include include/nav %>

				<section class="index-banner">
					<div class="index-banner-inner">
						<div>
							<span style="color:#f8c53b;">苗栗</span> <span>百年鐵路舊山線</span>
						</div>
						<div class="banner-hr"></div>
						<h2>數位影音導覽</h2>
					</div>
				</section>

				<section>

					<div class="container">
						<div class="mt-5 mb-3">
							<h2 class="travel-title">最新消息</h2>
						</div>

						<div class="row">
							<div class="col-12">
								<a href="./newsContent?id=1" class="news-card" >
									<h3 class="news-card-title">公告得獎名單</h3>
									<h6 class="news-card-date">2018-08-08</h6>
									<p class="news-card-snipest">公告得獎名單公告得獎名單公告得獎名單公告得獎名單公告得獎名單公告得獎名單公告得獎名單公告得獎名單公告得獎名單公告得獎名單公告得獎名單...</p>
								</a>
							</div>

							<div class="col-12">
								<a href="./newsContent?id=1" class="news-card" >
									<h3 class="news-card-title">終於快切完了</h3>
									<h6 class="news-card-date">2019-09-20</h6>
									<p class="news-card-snipest">但還有一頁邏輯不明所以不敢亂動，只好等大家從日本玩完回來再說了嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚嗚...</p>
								</a>
							</div>
						</div>

						<div class="text-center my-3">
							<a href="./news" class="btn btn-warning px-5" style="color: #fff;">more</a>
						</div>
					</div>

				</section>


				<section class="py-3" style="background-color:rgb(242, 242, 242);">
					<div class="container">
						<div class="mt-5 mb-3">
							<h2 class="travel-title">鐵道文化</h2>
						</div>

						<img src="./assets/imgs/bunka-index-fake.jpg" class="img-fluid"/>

						<div class="text-center my-3">
							<a href="./bunka" class="btn btn-warning px-5" style="color: #fff;">more</a>
						</div>
					</div>
				</section>

				<section class="py-3">
					<div class="container">
						<div class="mt-5 mb-3">
							<h2 class="travel-title">影音導覽</h2>
							<h6 class="text-muted text-center">一些簡短的描述一些簡短的描述一些簡短的描述一些簡短的描述一些簡短的描述</h6>
						</div>

						<div class="video-list-div">
							<div class="row">

								<div class="col-12 col-md-4">
									<a href="./mediaContent?id=1" class="video-list-card">
										<div class="video-list-pic-outer">
											<div class="video-list-pic-inner">
												<img src="./assets/imgs/vlist/vPic1.jpg" class="video-list-pic">
												 	<div class="video-list-pic-play">
													  <i class="fas fa-play"></i>
													</div>
												<img src="./assets/imgs/vlist/vGif1.webp" class="video-list-gif">
											</div>
										</div>
										<div class="video-list-desc">
											<h4 class="text-center">日本料理 巨大九繪魚</h4>
											<h6 class="text-center">no English Title</h6>
										</div>
									</a>
								</div>

								<div class="col-12 col-md-4">
									<a href="./mediaContent?id=1" class="video-list-card">
										<div class="video-list-pic-outer">
											<div class="video-list-pic-inner">
												<img src="./assets/imgs/vlist/vPic1.jpg" class="video-list-pic">
												 	<div class="video-list-pic-play">
													  <i class="fas fa-play"></i>
													</div>
												<img src="./assets/imgs/vlist/vGif1.webp" class="video-list-gif">
											</div>
										</div>
										<div class="video-list-desc">
											<h4 class="text-center">日本料理 巨大九繪魚</h4>
											<h6 class="text-center">no English Title</h6>
										</div>
									</a>
								</div>

								<div class="col-12 col-md-4">
									<a href="./mediaContent?id=1" class="video-list-card">
										<div class="video-list-pic-outer">
											<div class="video-list-pic-inner">
												<img src="./assets/imgs/vlist/vPic1.jpg" class="video-list-pic">
												 	<div class="video-list-pic-play">
													  <i class="fas fa-play"></i>
													</div>
												<img src="./assets/imgs/vlist/vGif1.webp" class="video-list-gif">
											</div>
										</div>
										<div class="video-list-desc">
											<h4 class="text-center">日本料理 巨大九繪魚</h4>
											<h6 class="text-center">no English Title</h6>
										</div>
									</a>
								</div>

								<div class="col-12 col-md-4">
									<a href="./mediaContent?id=1" class="video-list-card">
										<div class="video-list-pic-outer">
											<div class="video-list-pic-inner">
												<img src="./assets/imgs/vlist/vPic1.jpg" class="video-list-pic">
												 	<div class="video-list-pic-play">
													  <i class="fas fa-play"></i>
													</div>
												<img src="./assets/imgs/vlist/vGif1.webp" class="video-list-gif">
											</div>
										</div>
										<div class="video-list-desc">
											<h4 class="text-center">日本料理 巨大九繪魚</h4>
											<h6 class="text-center">no English Title</h6>
										</div>
									</a>
								</div>

								<div class="col-12 col-md-4">
									<a href="./mediaContent?id=1" class="video-list-card">
										<div class="video-list-pic-outer">
											<div class="video-list-pic-inner">
												<img src="./assets/imgs/vlist/vPic1.jpg" class="video-list-pic">
												 	<div class="video-list-pic-play">
													  <i class="fas fa-play"></i>
													</div>
												<img src="./assets/imgs/vlist/vGif1.webp" class="video-list-gif">
											</div>
										</div>
										<div class="video-list-desc">
											<h4 class="text-center">日本料理 巨大九繪魚</h4>
											<h6 class="text-center">no English Title</h6>
										</div>
									</a>
								</div>

								<div class="col-12 col-md-4">
									<a href="./mediaContent?id=1" class="video-list-card">
										<div class="video-list-pic-outer">
											<div class="video-list-pic-inner">
												<img src="./assets/imgs/vlist/vPic1.jpg" class="video-list-pic">
												 	<div class="video-list-pic-play">
													  <i class="fas fa-play"></i>
													</div>
												<img src="./assets/imgs/vlist/vGif1.webp" class="video-list-gif">
											</div>
										</div>
										<div class="video-list-desc">
											<h4 class="text-center">日本料理 巨大九繪魚</h4>
											<h6 class="text-center">no English Title</h6>
										</div>
									</a>
								</div>

							</div>
						</div>


						<div class="text-center my-3">
							<a href="./media" class="btn btn-warning px-5" style="color: #fff;">more</a>
						</div>
					</div>
				</section>

				<section class="index-slow">

					<div class="container">
						<div class="row">
							<div class="col-12 col-lg-7">
								<img src="./assets/imgs/slow-logo.jpg" class="img-fluid"/>
							</div>

							<div class="col-12 col-lg-5">
								<div>
									<div class="mt-2 mb-3">
										<h2 class="slow-title">國際慢城</h2>
									</div>
									<p>
										一堆解釋一堆解釋一堆解釋一堆解釋一堆解釋一堆解釋一堆解釋一堆解釋一堆解釋一堆解釋一堆解釋
										一堆解釋一堆解釋一堆解釋一堆解釋一堆解釋一堆解釋一堆解釋一堆解釋一堆解釋一堆解釋一堆解釋
										一堆解釋一堆解釋一堆解釋一堆解釋一堆解釋一堆解釋一堆解釋一堆解釋
									</p>
									<div class="text-center mt-2">
										<a href="./internation" class="btn btn-outline-dark cus-btn">了解更多</a>
									</div>
								</div>

							</div>
						</div>
					</div>

				</section>


				<section class="py-3">
					<div class="container">
						<div class="mt-5 mb-3">
							<h2 class="travel-title">特色店家</h2>
							<h6 class="text-muted text-center">一些簡短的描述一些簡短的描述一些簡短的描述一些簡短的描述一些簡短的描述</h6>
						</div>

						<div class="shops">
							<div class="row">

								<div class="col-12 col-lg-4">
									<a href="./travelContent?id=1" class="shop-card">
										<div class="shop-pic-outer">
											<div class="shop-pic-inner">
												<img src="./assets/imgs/shopPic1.jpg" class="shop-pic"/>
											</div>
										</div>

										<div class="shop-desc">
											<h3>卓也小屋</h3>
										</div>
									</a>
								</div>

								<div class="col-12 col-lg-4">
									<a href="./travelContent?id=1" class="shop-card">
										<div class="shop-pic-outer">
											<div class="shop-pic-inner">
												<img src="./assets/imgs/shopPic1.jpg" class="shop-pic"/>
											</div>
										</div>

										<div class="shop-desc">
											<h3>卓也小屋</h3>
										</div>
									</a>
								</div>

								<div class="col-12 col-lg-4">
									<a href="./travelContent?id=1" class="shop-card">
										<div class="shop-pic-outer">
											<div class="shop-pic-inner">
												<img src="./assets/imgs/shopPic1.jpg" class="shop-pic"/>
											</div>
										</div>

										<div class="shop-desc">
											<h3>卓也小屋</h3>
										</div>
									</a>
								</div>

							</div>

						</div>

						<div class="text-center my-3">
							<a href="./travelInfo" class="btn btn-warning px-5" style="color: #fff;">more</a>
						</div>
					</div>
				</section>

				<section style="background-color:rgb(51, 51, 51); padding: 4em 0;">
					<div class="container">
						<div class="row" >

							<div class="col-12 col-lg-6">
								<div class="mt-2 mb-3">
									<h2 class="travel-title">觀光接駁資訊</h2>
								</div>
								<h3 class="font-weight-bold text-white">日本成田→台灣桃園機場</h3>
								<p class="text-white">
									喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽
								</p>
								<h3 class="font-weight-bold text-white">台灣桃園機場→日本成田</h3>
								<p class="text-white">
									喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽喇低賽
								</p>
								<div class="text-center mt-2">
									<a href="./travelBus" class="btn btn-outline-light cus-btn">了解更多</a>
								</div>
							</div>

							<div class="col-12 col-lg-6">
								<img class="img-fluid" src="./assets/imgs/index-bus.jpg" />
							</div>

						</div>
					</div>
				</section>

				<section class="py-3">
					<div class="container">
						<div class="mt-5 mb-3">
							<h2 class="travel-title">好站推薦</h2>
						</div>

						<div class="row py-4">
							<div class="col-4 col-md-2">
								<a href="#" target="_blank">
									<div class="aspect-ratio">
										<div class="aspect-ratio-content">
											<img src="./assets/imgs/link1.jpg" class="img-fluid" />
										</div>
									</div>
								</a>
							</div>

							<div class="col-4 col-md-2">
								<a href="#" target="_blank">
									<div class="aspect-ratio">
										<div class="aspect-ratio-content">
											<img src="./assets/imgs/link2.jpg" class="img-fluid" />
										</div>
									</div>
								</a>
							</div>

							<div class="col-4 col-md-2">
								<a href="#" target="_blank">
									<div class="aspect-ratio">
										<div class="aspect-ratio-content">
											<img src="./assets/imgs/link3.jpg" class="img-fluid" />
										</div>
									</div>
								</a>
							</div>

							<div class="col-4 col-md-2">
								<a href="#" target="_blank">
									<div class="aspect-ratio">
										<div class="aspect-ratio-content">
											<img src="./assets/imgs/link4.jpg" class="img-fluid" />
										</div>
									</div>
								</a>
							</div>

							<div class="col-4 col-md-2">
								<a href="#" target="_blank">
									<div class="aspect-ratio">
										<div class="aspect-ratio-content">
											<img src="./assets/imgs/link5.jpg" class="img-fluid" />
										</div>
									</div>
								</a>
							</div>

							<div class="col-4 col-md-2">
								<a href="#" target="_blank">
									<div class="aspect-ratio">
										<div class="aspect-ratio-content">
											<img src="./assets/imgs/link6.jpg" class="img-fluid" />
										</div>
									</div>
								</a>
							</div>

						</div>


						<div class="text-center my-3">
							<a href="./travelLinks" class="btn btn-warning px-5" style="color: #fff;">more</a>
						</div>
					</div>
				</section>


				<!-- <img src="assets/imgs/影音導覽網站_01首頁.jpg" style="width: 100%;" /> -->
			<% include include/footer %>
		</div>
	</body>
</html>
<% include include/scripts %>

<script>
  var app = null;

  function initApp(){
    app = new Vue({
      el: '#app',
      data: {

      },
      watch: {

      },
      updated: function(){

      },
      computed: {

      },
      methods: {

      }
    });
  }

  $(document).ready(function(){
		initApp();
		setNavActive('nav-index');
  });
</script>
