<!DOCTYPE HTML>
<html id="top">
	<head>
		<% include include/meta %>
		<% include include/css %>
		<link rel="stylesheet" href="assets/css/media.css" />
  </head>
	<body>
		<div id="app">
			<% include include/nav %>

				<section class="page-banner">
					<img class="page-banner-bg" src="./assets/imgs/banner-pic-media.jpg" />
					<h2 class="page-banner-title">影音導覽</h2>
				</section>

				<section>
					<div class="container py-4">

						<nav aria-label="breadcrumb">
						  <ol class="breadcrumb">
						    <li class="breadcrumb-item"><a href="./">首頁</a></li>
						    <li class="breadcrumb-item"><a href="./media">影音導覽</a></li>
						  </ol>
						</nav>

						<div class="main-content">

							<div class="d-lg-none">
								<!--手機版專用-->
								<div class="form-group">
							    <select class="form-control" v-model="selectingType">
										<option v-for="(item, index) in videoTypes" :value="item.typeId" v-text="item.typeName"></option>
							    </select>
							  </div>
							</div>

							<div class="d-none d-lg-block">
								<!--電腦版專用-->
								<div class="btns-line1">
									<div class="type-btn w25" :class="{'active': selectingType == videoTypes[0].typeId}" @click="selectingType = videoTypes[0].typeId">
										<span v-text="videoTypes[0].typeName"></span>
									</div>

									<div class="dropdown w25">
									  <button class="btn type-btn type-btn-dropdown" type="button" id="dropvideoLan" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    <span>中文</span>
											<span class="icon right"><i class="fas fa-angle-down"></i></span>
											<span class="icon left"><small>Language</small></span>
									  </button>
									  <div class="dropdown-menu" aria-labelledby="dropvideoLan">
									    <a class="dropdown-item" href="#">中文</a>
									    <a class="dropdown-item" href="#">English</a>
									    <a class="dropdown-item" href="#">日本語</a>
											<a class="dropdown-item" href="#">한국어</a>
									  </div>
									</div>
								</div>

								<div class="btns-line2">
									<div v-for="(item, index) in videoTypes" v-if="index != 0" class="type-btn typbe-btn-strech" :class="{'active': selectingType == item.typeId}" @click="selectingType = item.typeId">
										<span v-text="item.typeName"></span>
									</div>
								</div>

							</div>



							<div class="video-type-div" v-if="selectingTypeObj != null">
								<!--show title-->
								<h2 class="text-center" v-text="selectingTypeObj.typeName"></h2>
								<h4 class="text-center" v-text="selectingTypeObj.typeDesc"></h4>
							</div>

							<div class="video-list-div">
								<div class="row">
									<div class="col-12 col-md-4" v-for="(item, index) in limitedVideoList">
										<a :href="'./mediaContent?id=' + item.videoId" class="video-list-card">
											<div class="video-list-pic-outer">
												<div class="video-list-pic-inner">
													<img :src="item.videoPicUrl" class="video-list-pic" />
													<div class="video-list-pic-play">
														<i class="fas fa-play"></i>
													</div>
													<img :src="item.videoGifUrl" class="video-list-gif" />
												</div>
											</div>
											<div class="video-list-desc">
												<h4 class="text-center" v-text="item.videoNameZh"></h4>
												<h6 class="text-center" v-text="item.videoNameEn"></h6>
											</div>

										</a>
									</div>
								</div>

								<div class="text-center my-3" v-show="limitedVideoList.length < fillterdVideoList.length" @click="showingVideoAmount += 6">
									<button type="button" class="btn btn-warning px-5" style="color: #fff;">more</button>
								</div>
							</div>

						</div>

					</div>
				</scetion>

				<!-- <img src="assets/imgs/影音導覽網站_04影音導覽.jpg" style="width: 100%;" /> -->
			<% include include/footer %>
		</div>
	</body>
</html>
<% include include/scripts %>

<script>
  var app = null;

  function initApp(){
    app = new Vue({
      el: '#app',
      data: {
				selectingType: 'all',
				showingVideoAmount: 9,
				videoTypes:[
					{
						typeName: '全部',
						typeDesc: '所有影音導覽呈現在您面前',
						typeId: 'all',
					},{
						typeName: '生魚片',
						typeDesc: '吃不到就是恨啦~',
						typeId: 'sashimi',
					},{
						typeName: '壽司',
						typeDesc: '會轉的總是比較了不起',
						typeId: 'sushi',
					},{
						typeName: '拉麵',
						typeDesc: '好想再去一次拉麵博物館',
						typeId: 'ramen',
					},{
						typeName: '電玩展',
						typeDesc: '任天堂大亂鬥12月就出啦!',
						typeId: 'gameshow',
					},{
						typeName: '任天堂',
						typeDesc: '一日老任迷，終身老任迷',
						typeId: 'nintendo',
					},{
						typeName: '日本旅遊',
						typeDesc: '只好明年自己去了',
						typeId: 'japantravel',
					},{
						typeName: '曲',
						typeDesc: '切版累了嗎? 聽首歌吧',
						typeId: 'song',
					},{
						typeName: '守寫字',
						typeDesc: '硬是要放置入性廣告',
						typeId: 'writes',
					},
				],
				videoLists:[
					{
						videoId: '1',
						videoTypeId: 'sashimi',
						videoPicUrl: './assets/imgs/vlist/vPic1.jpg',
						videoGifUrl: './assets/imgs/vlist/vGif1.webp',
						videoYoutubeId: 'PVdllTnVs8A',
						videoNameZh: '日本料理 巨大九繪魚',
						videoNameEn: 'no English Title',
					},{
						videoId: '2',
						videoTypeId: 'sashimi',
						videoPicUrl: './assets/imgs/vlist/vPic2.jpg',
						videoGifUrl: './assets/imgs/vlist/vGif2.webp',
						videoYoutubeId: 'ZNTx2gJe3c0',
						videoNameZh: '生魚片吃多了也會怕',
						videoNameEn: 'no English Title',
					},{
						videoId: '3',
						videoTypeId: 'sushi',
						videoPicUrl: './assets/imgs/vlist/vPic4.jpg',
						videoGifUrl: './assets/imgs/vlist/vGif4.webp',
						videoYoutubeId: 'XS5-iXHO0zc',
						videoNameZh: '只剩爭鮮',
						videoNameEn: 'no English Title',
					},{
						videoId: '4',
						videoTypeId: 'sushi',
						videoPicUrl: './assets/imgs/vlist/vPic5.jpg',
						videoGifUrl: './assets/imgs/vlist/vGif5.webp',
						videoYoutubeId: '4K-n13B9bc8',
						videoNameZh: 'くら寿司又排不到',
						videoNameEn: 'no English Title',
					},{
						videoId: '5',
						videoTypeId: 'gameshow',
						videoPicUrl: './assets/imgs/vlist/vPic6.jpg',
						videoGifUrl: './assets/imgs/vlist/vGif6.webp',
						videoYoutubeId: '4J524wWLGNU',
						videoNameZh: 'PS4還是沒有超想玩的作品',
						videoNameEn: 'no English Title',
					},{
						videoId: '6',
						videoTypeId: 'gameshow',
						videoPicUrl: './assets/imgs/vlist/vPic7.jpg',
						videoGifUrl: './assets/imgs/vlist/vGif7.webp',
						videoYoutubeId: 'aqHQJ5t0OfU',
						videoNameZh: 'KH劇情好亂',
						videoNameEn: 'no English Title',
					},{
						videoId: '7',
						videoTypeId: 'gameshow',
						videoPicUrl: './assets/imgs/vlist/vPic8.jpg',
						videoGifUrl: './assets/imgs/vlist/vGif8.webp',
						videoYoutubeId: 'f1XdyC-XUto',
						videoNameZh: '該預購Pokemon Let\'s Go了',
						videoNameEn: 'no English Title',
					},{
						videoId: '8',
						videoTypeId: 'nintendo',
						videoPicUrl: './assets/imgs/vlist/vPic9.jpg',
						videoGifUrl: './assets/imgs/vlist/vGif9.webp',
						videoYoutubeId: 'vAXicfW9oO8',
						videoNameZh: 'しずく参戦!',
						videoNameEn: 'no English Title',
					},{
						videoId: '9',
						videoTypeId: 'nintendo',
						videoPicUrl: './assets/imgs/vlist/vPic10.jpg',
						videoGifUrl: './assets/imgs/vlist/vGif10.webp',
						videoYoutubeId: 'aecJIJ5tiMY',
						videoNameZh: '懷舊馬力歐好玩',
						videoNameEn: 'no English Title',
					},{
						videoId: '10',
						videoTypeId: 'nintendo',
						videoPicUrl: './assets/imgs/vlist/vPic11.jpg',
						videoGifUrl: './assets/imgs/vlist/vGif11.webp',
						videoYoutubeId: 'qVr-BHLDyQw',
						videoNameZh: '線上服務要收費囉',
						videoNameEn: 'no English Title',
					},{
						videoId: '11',
						videoTypeId: 'japantravel',
						videoPicUrl: './assets/imgs/vlist/vPic12.jpg',
						videoGifUrl: './assets/imgs/vlist/vGif12.webp',
						videoYoutubeId: 'AaDptEPJ96Q',
						videoNameZh: '來去日本穿和服',
						videoNameEn: 'no English Title',
					},{
						videoId: '12',
						videoTypeId: 'japantravel',
						videoPicUrl: './assets/imgs/vlist/vPic13.jpg',
						videoGifUrl: './assets/imgs/vlist/vGif13.webp',
						videoYoutubeId: 'WUmy4rgtQPc',
						videoNameZh: '東京自由行',
						videoNameEn: 'no English Title',
					},{
						videoId: '13',
						videoTypeId: 'song',
						videoPicUrl: './assets/imgs/vlist/vPic14.jpg',
						videoGifUrl: './assets/imgs/vlist/vGif14.webp',
						videoYoutubeId: 'pYk8Tk_qr40',
						videoNameZh: '夏祭り',
						videoNameEn: 'no English Title',
					},{
						videoId: '14',
						videoTypeId: 'song',
						videoPicUrl: './assets/imgs/vlist/vPic15.jpg',
						videoGifUrl: './assets/imgs/vlist/vGif15.webp',
						videoYoutubeId: 'ue6FWV_jfQI',
						videoNameZh: 'リンダリンダ',
						videoNameEn: 'no English Title',
					},{
						videoId: '15',
						videoTypeId: 'ramen',
						videoPicUrl: './assets/imgs/vlist/vPic3.jpg',
						videoGifUrl: './assets/imgs/vlist/vGif3.webp',
						videoYoutubeId: 'fuVPwdHDw2s',
						videoNameZh: '橫濱的拉麵與台灣的拉麵',
						videoNameEn: 'no English Title',
					},{
						videoId: '16',
						videoTypeId: 'writes',
						videoPicUrl: './assets/imgs/vlist/vPic16.jpg',
						videoGifUrl: './assets/imgs/vlist/vGif16.webp',
						videoYoutubeId: 'G0E9nrcVTuk',
						videoNameZh: '已經過去一年了阿',
						videoNameEn: 'no English Title',
					},
				],
      },
      watch: {
				selectingType: function(val){
					this.selectingType = val;
					this.showingVideoAmount = 9;
				},
      },
      updated: function(){

      },
      computed: {
				selectingTypeObj: function(){
					for(let i in this.videoTypes){
						if(this.videoTypes[i].typeId == this.selectingType){
							return this.videoTypes[i];
						}
					}
					return null;
				},
				fillterdVideoList: function(){
					let res = [];
					for(let i = 0; i<this.videoLists.length; i++){
						const vObj = this.videoLists[i];
						if(this.selectingType == 'all' || this.selectingType == vObj.videoTypeId){
							res.push(vObj);
						}
					}
					return res;
				},
				limitedVideoList: function(){
					return this.fillterdVideoList.slice(0,this.showingVideoAmount);
				},
      },
      methods: {

      }
    });
  }

  $(document).ready(function(){
		initApp();
		setNavActive('nav-media');
  });
</script>
