<!DOCTYPE HTML>
<html id="top">
	<head>
		<% include include/meta %>
		<% include include/css %>
  </head>
	<body>
		<div id="app">
			<% include include/nav %>

				<section class="page-banner">
					<img class="page-banner-bg" src="./assets/imgs/banner-pic-media.jpg" />
					<h2 class="page-banner-title">影音導覽</h2>
				</section>

				<section>
					<div class="container py-4">

						<nav aria-label="breadcrumb">
						  <ol class="breadcrumb">
						    <li class="breadcrumb-item"><a href="./">首頁</a></li>
						    <li class="breadcrumb-item"><a href="./media">影音導覽</a></li>
						  </ol>
						</nav>

						<div class="main-content">
						</div>

					</div>
				</scetion>

				<img src="assets/imgs/影音導覽網站_04影音導覽.jpg" style="width: 100%;" />
			<% include include/footer %>
		</div>
	</body>
</html>
<% include include/scripts %>

<script>
  var app = null;

  function initApp(){
    app = new Vue({
      el: '#app',
      data: {

      },
      watch: {

      },
      updated: function(){

      },
      computed: {

      },
      methods: {

      }
    });
  }

  $(document).ready(function(){
		initApp();
		setNavActive('nav-media');
  });
</script>
