<!DOCTYPE HTML>
<html id="top">
	<head>
		<% include include/meta %>
		<% include include/css %>
		<link rel="stylesheet" href="assets/css/travel.css" />
  </head>
	<body>
		<div id="app">
			<% include include/nav %>

				<section class="page-banner">
					<img class="page-banner-bg" src="./assets/imgs/banner-pic-travel.jpg" />
					<h2 class="page-banner-title">旅遊資訊</h2>
				</section>

				<section>
					<div class="container py-4">

						<nav aria-label="breadcrumb">
						  <ol class="breadcrumb">
						    <li class="breadcrumb-item"><a href="./">首頁</a></li>
						    <li class="breadcrumb-item"><a href="./travelInfo">旅遊資訊</a></li>
								<li class="breadcrumb-item">特色店家</li>
						  </ol>
						</nav>

						<div class="main-content">

							<div class="my-5">
								<h2 class="travel-title">特色店家</h2>
							</div>

							<div class="shops">
								<div class="row">

									<div class="col-12 col-lg-4" v-for="(item, index) in limitedShopList">
										<a :href="'./travelContent?id='+item.shopId" class="shop-card">
											<div class="shop-pic-outer">
												<div class="shop-pic-inner">
													<img :src="item.shopPicUrl" class="shop-pic"/>
												</div>
											</div>

											<div class="shop-desc">
												<h3 v-text="item.shopName"></h3>
											</div>
										</a>
									</div>
								</div>

								<div class="text-center my-3" v-show="limitedShopList.length < shopList.length" @click="showingShopAmount += 6">
									<button type="button" class="btn btn-warning px-5" style="color: #fff;">more</button>
								</div>
							</div>

						</div>

					</div>
				</scetion>

				<!-- <img src="assets/imgs/影音導覽網站_06旅遊資訊_特色店家.jpg" style="width: 100%;" /> -->
			<% include include/footer %>
		</div>
	</body>
</html>
<% include include/scripts %>

<script>
  var app = null;

  function initApp(){
    app = new Vue({
      el: '#app',
      data: {
				showingShopAmount: 6,
				shopList:[
					{
						shopId: '1',
						shopName: '卓也小屋',
						shopPicUrl: './assets/imgs/shopPic1.jpg',
					},{
						shopId: '2',
						shopName: '三義ㄚ箱寶',
						shopPicUrl: './assets/imgs/shopPic2.jpg',
					},{
						shopId: '3',
						shopName: '老街第一家',
						shopPicUrl: './assets/imgs/shopPic3.jpg',
					},{
						shopId: '4',
						shopName: '新月梧桐三義店',
						shopPicUrl: './assets/imgs/shopPic4.jpg',
					},{
						shopId: '5',
						shopName: '綠葉方舟',
						shopPicUrl: './assets/imgs/shopPic5.jpg',
					},{
						shopId: '6',
						shopName: '穗花の山奈',
						shopPicUrl: './assets/imgs/shopPic6.jpg',
					},{
						shopId: '1',
						shopName: '卓也小屋',
						shopPicUrl: './assets/imgs/shopPic1.jpg',
					},{
						shopId: '2',
						shopName: '三義ㄚ箱寶',
						shopPicUrl: './assets/imgs/shopPic2.jpg',
					},{
						shopId: '3',
						shopName: '老街第一家',
						shopPicUrl: './assets/imgs/shopPic3.jpg',
					},{
						shopId: '4',
						shopName: '新月梧桐三義店',
						shopPicUrl: './assets/imgs/shopPic4.jpg',
					},{
						shopId: '5',
						shopName: '綠葉方舟',
						shopPicUrl: './assets/imgs/shopPic5.jpg',
					},{
						shopId: '6',
						shopName: '穗花の山奈',
						shopPicUrl: './assets/imgs/shopPic6.jpg',
					},{
						shopId: '1',
						shopName: '卓也小屋',
						shopPicUrl: './assets/imgs/shopPic1.jpg',
					},{
						shopId: '2',
						shopName: '三義ㄚ箱寶',
						shopPicUrl: './assets/imgs/shopPic2.jpg',
					},{
						shopId: '3',
						shopName: '老街第一家',
						shopPicUrl: './assets/imgs/shopPic3.jpg',
					},{
						shopId: '4',
						shopName: '新月梧桐三義店',
						shopPicUrl: './assets/imgs/shopPic4.jpg',
					},{
						shopId: '5',
						shopName: '綠葉方舟',
						shopPicUrl: './assets/imgs/shopPic5.jpg',
					},{
						shopId: '6',
						shopName: '穗花の山奈',
						shopPicUrl: './assets/imgs/shopPic6.jpg',
					},{
						shopId: '1',
						shopName: '卓也小屋',
						shopPicUrl: './assets/imgs/shopPic1.jpg',
					},{
						shopId: '2',
						shopName: '三義ㄚ箱寶',
						shopPicUrl: './assets/imgs/shopPic2.jpg',
					},{
						shopId: '3',
						shopName: '老街第一家',
						shopPicUrl: './assets/imgs/shopPic3.jpg',
					},{
						shopId: '4',
						shopName: '新月梧桐三義店',
						shopPicUrl: './assets/imgs/shopPic4.jpg',
					},{
						shopId: '5',
						shopName: '綠葉方舟',
						shopPicUrl: './assets/imgs/shopPic5.jpg',
					},{
						shopId: '6',
						shopName: '穗花の山奈',
						shopPicUrl: './assets/imgs/shopPic6.jpg',
					},
				],
      },
      watch: {

      },
      updated: function(){

      },
      computed: {
				limitedShopList: function(){
					return this.shopList.slice(0, this.showingShopAmount)
				},
      },
      methods: {

      }
    });
  }

  $(document).ready(function(){
		initApp();
		setNavActive('nav-travel');
  });
</script>
