
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d2d1c3;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #d2d1c3;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #d2d1c3;
}

@keyframes spinQuestion {
    0% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes floatUp {
    0% {
      opacity: 0;
      transform: translate(0, 20%);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
}



.fix-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;
  background-color: #fff9;
}

.sticky-nav{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 9999;
  /*background-color: #fff9;*/
}

.nav-logo{
  padding: 2px 2px;
  height: 100%;
  z-index: 2000;
}

.nav-bars{
  position: absolute;
  width: 40px;
  height: 40px;
  right: 5px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.nav-links{
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: none;
  background-color: #000a;
  z-index: 1001;
}


.nav-links ul{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links ul>li{
  list-style: none;
  text-align: center;
  width: 100%;
  border-top: solid 2px #808080;
}

.nav-links-a{
  padding: 10px 0;
  font-size: 1.5em;
  display: block;
  color: #fff;
}

.nav-links-a:hover, .nav-links-a:active{
  color: #fff;
  text-decoration: none;
}





.banner{
  background: url('../imgs/banner_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.banner-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  padding-bottom: 3em;
}

.banner-logo{
  max-width: 300px;
}

.banner-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.banner-title h2{
  font-size: 3.5rem;
  letter-spacing: 10px;
}

.banner-title small{
  font-size: 1.25rem;
}

.banner-search-input{
  border: solid 2px #c4c28b;
  color: #c4c28b;
  padding: .5em 1em;
  border-radius: 1em;
  background-color: #ffffffe3;
}

.banner-search-input:focus-within{
  background-color: #ffffff44;
}

.banner-search-input input{
  background-color: #fff0;
  border: initial;
  color: #c4c28b;
  font-family: initial;
  width: 150px;
  color: #fff;
}

.banner-search-input input:focus{
  border: none;
  outline: none;

}

.banner-search-btn{
  color: #c4c28b;
}

.banner-search-btn:hover{
  color: #daab2b;
}

.download{
  background: url('../imgs/dl_section_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

.download::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000000a6;
}

.download-content{
  position: relative;
  display: flex;
  flex-direction: column;
  color: #ededed;
  z-index: 2;
}

.download-setumei-div{
  padding-top: 3em;
}

.download-slogan{
  text-align: center;
  padding-bottom: .25em;
}

.download-desc{
  padding: 0 1em 2em;
}

.download-srcs-div{
  padding-bottom: 3em;
}

.download-src-list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.download-src-list>li{
  list-style-type: none;
  padding: .5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  border: solid 2px #fff;
  border-radius: 10px;
  margin-bottom: .5em;
  transition: .3s color, .3s border-color, .3s background-color;
  width: 200px;
}

.download-src-list>li:hover{
  color: #a1e4db;
  background-color: #fff4;
  border-color: #a1e4db;
}


.guides{
  padding: 4em 0 2em;
  border-top: solid 10px #379da4;
}

.guides-title{
  text-align: center;
  font-size: 3em;
  margin-bottom: .5em;
  /*text-shadow: 3px 3px 11px #ffdb99;*/
}

.guides-title svg{
  color:#f9db51;
}

.guides-div{
  opacity: 0;
  top: 10%;
  position: relative;
  display: block;
  cursor: pointer;
  margin-bottom: 2em;
  border: solid 1px #c4c28b;
  overflow: hidden;
  box-shadow: 4px 4px #dadada;
  /*
  animation-name: floatUp;
  animation-duration: 4s;
  */
}

.guide-desc{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #000;
  padding-bottom: .5em;
  padding-top: .5em;
}

.guide-desc>div{
  padding: 0 1em;
  z-index: 2;
}

.guides-img{
  display: block;
  width: 100%;
  transform: scale(1);
  transition: transform .7s ease;
}

.guides-div:hover .guides-img{
  transform: scale(1.1);
}

.guide-desc span{
  letter-spacing: 2px;
  font-size: 1.5rem;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #00dcff;
}

.guide-desc small{
  color: #379da4;
  text-align: right;
  display: block;
}

a.guides-more-btn{
  background-color: #c4c28b;
  padding: .5em 1em;
  border-radius: 1em;
  color: #fff;
  display: block;
  text-align: center;
  transition: .3s background-color;
  font-size: 1.2em;
}

a.guides-more-btn:hover{
  background-color: #61d0d8;
  text-decoration: none;
}

a.guides-more-btn:active{
  background-color: #61d0d8;
  text-decoration: none;
}






.special{
  background-color: #48352e;
  padding: 2em 0 2em;
}

.special-title{
  color: #fdbb0d;
  text-align: center;
  font-size: 2em;
  text-shadow: 1px 1px 2px #ffffffb8;
  margin-bottom: .5em;
}

.special-content{
  border: solid 3px #fdbb0d;
  padding: 2em;
  margin: 2em 0;
  border-radius: 2em;
}

.special-content-icon{
  position: absolute;
  transform: translate(-50%, -2.5em);
  left: 50%;
  color: #48352e;
  background-color: #f1b61d;
  /* padding: .25em 1em; */
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5em;
}

.special-content-icon-spin{
  animation: spinQuestion 5s ease infinite;
}

.special-video{
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.special-video iframe{
  position: absolute;
  border: 2px solid #fdbb0d;
  top: 0;
  right: 0;
  width: calc(100% - 4px);
  height: 100%;
}

.special-desc{
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.special-desc p{
  color: #fff;
}

.special-color{
  color: #ded500;
}

a.special-btn{
  background-color: #bf0404;
  padding: .5em 1em;
  border-radius: 1em;
  color: #fff;
  display: block;
  text-align: center;
  transition: .3s background-color, .3s color;
  font-size: 1.2em;
  width: 100%;
}

a.special-btn:hover{
  background-color: #fdbb0d;
  color: #bf0404;
  text-decoration: none;
}

a.special-btn:active{
  background-color: #fdbb0d;
  color: #bf0404;
  text-decoration: none;
}

.special-video-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.special-video-link{
  position: relative;
  margin: 0 1em;
  color: #292929d4;
  transition: .3s color;
}

.special-video-link:hover{
  color: #f00;
}

.special-video-link::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #48352e6b;
  transition: .3s background-color;
}

.special-video-link:hover::before{
  background-color: #0000;
}

.special-video-link img{
  width: 100%;
}

.play-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.intro{
  padding: 4em 0 2em;
  background-color: #efefef;
}

.intro .row>div:not(:last-child) .intro-card{
  border-bottom: solid 2px #2c7ed2;
}

.intro-title{
  text-align: center;
  font-size: 3em;
}

.intro-card{
  /*border: solid 1px #000;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.intro-card-icon{
  width: 60px;
  height: 60px;
  display: flex;
  margin: 1.2em 0;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
}

.intro-card-icon svg{
  z-index: 2;
}

.intro-card-icon::before{
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  background: linear-gradient(to right bottom, #2c7ed2, #2ebfab);
  /*background-color: #2c7ed2;*/
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari */
  transform: rotate(45deg);
  z-index: 1;
  /*transition: 1s transform;*/
}

.intro-card:hover .intro-card-icon::before{
  /*transform: rotate(0deg);*/
}

.intro-card-desc{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-card-title{
  font-size: 1.5em;
  margin: .5em 0 .25em;
  letter-spacing: 5px;
  font-weight: 1000;
}

.intro-card-content{

}


.testRow{
  display: none;
}







.footer{
  background-color: #616161;
}

.footer-links{
  display: flex;
  flex-direction: row;
}

.footer-links ul{
  padding: 0;
  margin: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.footer-links li{
  list-style: none;
}

.footer-links li>a{
  display: block;
  text-align: center;
  padding: .5em 0;
  background: linear-gradient(to right bottom, #fff0, #ffffff29);
  color: #fff;
  text-decoration: none;
}

.footer-links li>a:hover , .footer-links li>a:active{
  color: #92deca;
  background: linear-gradient(to right bottom, #fff0, #00000029);
  text-decoration: none;
}

.footer-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  color: #ddd;
}

.footer-info span{
  margin-bottom: .25em;
}

@media (min-width:768px){

  .fix-nav{
    position: fixed;
    background-color: #fffd;
    transition: .3s transform;
  }

  .nav-logo{
    padding: 2px 10px;
  }

  .nav-links{
    position: relative;
    width: initial;
    height: initial;
    left: 0;
    top: 0;
    display: inline-block !important;
    background-color: transparent;
    z-index: 1001;
  }

  .nav-links ul{
    flex-direction: row;
  }

  .nav-links ul>li{
    width: initial;
    border-top: none;
  }

  .nav-links-a{
    padding: 0 1em;
    font-size: 1em;
    display: inline-block;
    color: #16668e;
    transition: .3s color;
  }

  .nav-links-a:hover, .nav-links-a:active{
    color: #000;
    text-decoration: none;
  }






  .banner{
    background: url('../imgs/banner_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .banner-main{
    padding-right: 4em;
    align-items: flex-end;
  }

  .banner-logo{
    max-width: 400px;
  }

  .banner-title{
    flex-direction: row;
    align-items: flex-start;
  }

  .banner-title h2{
    font-size: 3.5rem;
    padding-right: .2em;
  }

  .banner-search-input{
    font-size: 1.5rem;
    background-color: initial;
  }

  .banner-search-input input{
    width: 300px;
  }




  .download{
    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -ms-background-attachment: fixed;
    -o-background-attachment: fixed;
    background-attachment: fixed;
  }

  .download-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3em 0;
  }

  .download-setumei-div{
    padding-top: 3em;
    width: 100%;
  }

  .download-slogan{
    font-size: 2em;
  }

  .download-desc{
    font-size: 1.2em;
  }

  .download-desc{
    text-align: center;
  }

  .download-srcs-div{
    padding-bottom: 0;
    width: 80%;
  }

  .download-src-list{
    flex-direction: row;
    align-items: center;
    height: 100%;
  }

  .download-src-list>li{
    flex-direction: column;
    width: 130px;
    height: 100px;
  }




  .guides-div{
    border: initial;
    box-shadow: initial;
  }

  .guide-desc{
    position: absolute;
    top: 0;
    height: 100%;
    color: #fff;
    padding-bottom: 0;
    padding-top: 0;
  }

  .guide-desc p{
    max-height: 0;
    transition: .7s max-height ease;
    overflow: hidden;
  }

  .guide-desc:hover p{
    max-height: 100px;
  }

  .guide-desc small{
    display: none;
  }

  .guide-desc::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
    background-color: #0000008c;
    transition: .5s background-color;
  }

  .guide-desc:hover::before{
    background-color: #00000042;
  }

  a.guides-more-btn{
    display: initial;
    font-size: initial;
  }



  .special{
    padding: 4em 0 4em;
  }

  .special-title{
    font-size: 3em;
  }

  .special-video{

  }




  .intro .row>div:not(:last-child) .intro-card{
    border-bottom: initial;
  }




  .testRow{
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .testDiv1{
    flex: 1 1 auto;
  }

  .testDiv1-content{
    position: relative;
    height: calc(100% - 2em);
    border: solid 3px #2c7fd1;
    margin: 1em 2em;
    border-radius: 2em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  .testDiv1-container{
    position: relative;
    height: 100%;
    flex: 100px 1 1;
  }

  .testDiv1-inner{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s opacity;
  }

  .testDiv1-inner.active-info{
    opacity: 1;
  }

  .testDiv1-innerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: -.5em;
  }

  .testDiv1-title{
    font-size: 1.5em;
  }

  .testDiv1-desc{

  }

  .info-change-div{
    height: 100%;
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ddd;
    transition: .5s color;
  }


  .info-change-div-left:hover{
    color: #fff;
    background: linear-gradient(-90deg, #ddd0, #dddf);
  }

  .info-change-div-right:hover{
    color: #fff;
    background: linear-gradient(90deg, #ddd0, #dddf);
  }

  .testDiv2{
    flex: 0 0 250px;
    position: relative;
  }

  .testDiv2-inner{
    padding-top: 100%;
  }

  .testContent{
    position: absolute;
    width: 32%;
    height: 32%;
    transform: translate(-50%, -50%);
    color: #fff;
    cursor: pointer;
  }

  .testContent:hover{
    /*transform: translate(-50%, -50%) rotateY(180deg);*/
  }

  .testUp{
    left: 50%;
    top: 25%;
  }

  .testLeft{
    left: 25%;
    top: 50%;
  }

  .testRight{
    left: 75%;
    top: 50%;
  }

  .testDown{
    left: 50%;
    top: 75%;
  }

  .side1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s transform;
    backface-visibility: hidden;
  }

  .testContent.active-info .side1{
    transform: rotateY(180deg);
  }

  .side1::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4c4c4c;
    transform: rotateZ(45deg);
    z-index: -1;
  }

  .side2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s transform;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }

  .testContent.active-info .side2{
    transform: rotateY(0deg);
  }

  .side2::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, #2c7ed2, #2ebfab);
    /*background-color: #f00;*/
    transform: rotateZ(45deg);
    z-index: -1;
  }




  .footer{
    padding-top: 1em;
  }

  .footer-links{
    flex-direction: column;
  }

  .footer-links ul{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .25em 0;
  }

  .footer-links li>a{
    display: initial;
    position: relative;
    padding: 0;
    margin: 0 3em;
    background: initial;
  }

  .footer-links li>a::before{
    content: '▶';
    position: absolute;
    transform: translate(-45px, 0) rotateX(0deg);
    opacity: 0;
    transition: all .7s ease;
  }

  .footer-links li>a:hover::before{
    opacity: 1;
    transform: translate(-20px, 0) rotateX(180deg);
  }

  .footer-links li>a::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    min-width: 0px;
    border-bottom: solid 1px #92deca;
    transition: all .5s ease;
  }

  .footer-links li>a:hover::after{
    min-width: 100%;

  }


/*
  .footer-links li:not(:last-child)::after{
    content: '|';
    color: #fff;
  }
*/

  .footer-links li>a:hover{
    background: initial;
  }
}

@media (min-width:1080px){

  .download-content{
    width: 60%;
  }

  .download-src-list>li {
    width: 200px;
    height: 125px;
    font-size: 1.25em;
  }


  .special-video{

  }

  .special-desc p{
    font-size: 1.25em;
  }


  .testDiv1-innerContent{
    padding: 0 1em;
  }

  .testDiv1-title{
    font-size: 2em;
  }

  .testDiv1-desc{
    font-size: 1.5em;
  }

  .info-change-div {
    font-size: 1.5em;
  }

  .testDiv2{
    flex: 0 0 400px;
  }

  .testContent {
    font-size: 1.5em;
  }
}
