.paging-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.paging-btn{
  color: #cdcbcc;
  transition: color .4s ease;
  padding: 1em .5em;
  cursor: pointer;
}

.paging-btn:hover, .paging-btn.active{
  color: #3f86ee;
}
