<!DOCTYPE HTML>
<html id="top">
	<head>
    <% include include/meta %>
		<% include include/css %>
		<link rel="stylesheet" href="assets/css/forms.css" />
		<link rel="stylesheet" href="assets/css/index.css" />

  </head>
	<body>
		<div id="app">
			<img class="img-fluid" src="./assets/imgs/線上導覽預約_type1_01首頁.jpg" />

			<h2>-----------以上是圖片  以下是網頁-----------</h2>
			<% include include/nav %>
			<section class="banner">
				<div class="container">

					<div class="text-center">
						<img src="assets/imgs/indexBannerPic.jpg" class="img-fluid" style="max-width:500px"/>
					</div>

					<a href="#re" class="banner-btn">
						<span>前往預約</span>
					</a>

					<div class="row">

						<div class="col-12 col-md-6 md-same-height">
							<div class="banner-sub-content">
								<div class="banner-sub-title sub-title-color1">
									最新消息
								</div>
								<a class="banner-sub-news" href="#">2018/03/24&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;導覽人力資料庫更新</a>
								<a class="banner-sub-news" href="#">2018/03/20&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;資料庫維護通知</a>
								<a class="banner-sub-news-more" href="#">&gt;&nbsp;&nbsp;更多消息</a>
							</div>

						</div>

						<div class="col-12 col-md-6 md-same-heigh">
							<div class="banner-sub-content">
								<div class="banner-sub-title sub-title-color2">
									導覽景點
								</div>
								<p class="banner-sub-intro">
									舊山線，從三義車站到勝興車站、魚藤坪斷橋至泰安車站，綿延15.9公里，途經8座意義非凡的隧道、3座的荷載歷史的鐵橋。
								</p>
							</div>
						</div>

					</div>

				</div>
			</section>


			<section class="bg-mountain" id="re">
				<img src="assets/imgs/back_mountain.png" class="bg-mountain-img" />
				<div class="container">

					<h2 class="section-title">預約申請</h2>

					<div class="row">

						<div class="col-12 col-md-6">
							<div class="banner-yoyaku-content">
								<div class="banner-sub-title sub-title-color1">
									預約須知
								</div>
								<ol>
									<li>
										每個時段人數上限為30人，若參訪團體超過30人以上，請分場次參訪。
									</li>
									<li>
										若欲取消預約導覽解說服務，請務必於參訪日三天以前來電告知。請勿於活動當日才告知，以免造成導覽志工調度困擾，謝謝配合。
									</li>
									<li>
										當日若中央氣象局發佈陸上颱風警報等惡劣天候，如有取消導覽並全額退費，所有退款事宜將在一個月內完成。
									</li>
									<li>
										為維持導覽品質，建議準時到達集合地點。
									</li>
									<li>
										民眾均請攜帶身份證明證件（身分證或健保卡等有個人照片之證件）辦理報到手續。
									</li>
									<li>
										預約導覽僅接受於10日前預約；遲到30分鐘視同取消預約。
									</li>
									<li>
										日期場次重疊者採先預約者為先。
									</li>
									<li>
										填寫線上申請表單後，等待工作人員電話回覆確認是否已成功申請。
									</li>
								</ol>

								<hr/>

								<div class="ml-4">
									<input type="checkbox" />
									<label >同意預約須知</label>
								</div>

							</div>
						</div>

						<div class="col-12 col-md-6">
							<div class="banner-yoyaku-content">
								<div class="banner-sub-title sub-title-color1">
									申請資料
								</div>

								<form>
									<div class="row">

										<div class="col-12 col-md-3 mt-3">
											<div class="form-label">
												姓名
											</div>
										</div>

										<div class="col-12 col-md-9 mt-3">
											<input type="text" class="form-control" >
										</div>

										<div class="col-12 col-md-3 mt-3">
											<div class="form-label">
												聯絡電話
											</div>
										</div>

										<div class="col-12 col-md-9 mt-3">
											<input type="text" class="form-control" >
										</div>

										<div class="col-12 col-md-3 mt-3">
											<div class="form-label">
												電子信箱
											</div>
										</div>

										<div class="col-12 col-md-9 mt-3">
											<input type="email" class="form-control" >
										</div>

										<div class="col-12 col-md-4 mt-3">
											<div class="form-label">
												身分證後四碼
											</div>
										</div>

										<div class="col-12 col-md-5 mt-3">
											<input type="text" class="form-control" >
										</div>

										<div class="col-12 col-md-3"></div>

										<div class="col-12">
											<hr/>
										</div>

										<div class="col-12 col-md-3 mt-3">
											<div class="form-label">
												預約日期
											</div>
										</div>

										<div class="col-12 col-md-9 mt-3">
											<div class="form-row">
										    <div class="form-group col-md-6">
										      <input type="text" class="form-control" >
										    </div>
										    <div class="form-group col-md-6">
													<select class="form-control">
													  <option>整天</option>
													</select>
										    </div>
										  </div>
										</div>

										<div class="col-12 col-md-3 mt-3">
											<div class="form-label">
												預約人數
											</div>
										</div>

										<div class="col-12 col-md-9 mt-3">
											<div class="form-row">
										    <div class="form-group col-md-6">
													<select class="form-control">
													  <option>---</option>
													</select>
										    </div>
										    <div class="form-group col-md-6">

										    </div>
										  </div>
										</div>

										<div class="col-12 col-md-3 mt-3">
											<div class="form-label">
												導覽語言
											</div>
										</div>

										<div class="col-12 col-md-9 mt-3">
											<div class="form-row">
										    <div class="form-group col-md-6">
													<select class="form-control">
													  <option>中文</option>
													</select>
										    </div>
										    <div class="form-group col-md-6">

										    </div>
										  </div>
										</div>

									</div>
								</form>

								<hr/>

								<div class="text-right font-weight-bold">
									導覽費用&nbsp;&nbsp;----&nbsp;&nbsp;元
								</div>

							</div>
						</div>

					</div>

					<div class="sendPanel">

						<div class="text-center">
							<img class="img-fluid" src="assets/imgs/recaptcha.jpg" />
						</div>

						<div class="sendBtn">
							<span>送出預約</span>
						</div>



					</div>

				</div>
				<div class="hint-tel pb-5">
					預約問題請撥打 037-868146
				</div>
			</section>

			<section class="py-5">
				<div class="container">
					<h2 class="text-center osusume-title">好站推薦</h2>
					<div class="row py-4">
						<div class="col-4 col-md-2">
							<a href="#" target="_blank">
								<div class="aspect-ratio">
									<div class="aspect-ratio-content">
										<img src="assets/imgs/indexLink1.jpg" class="img-fluid" />
									</div>
								</div>
							</a>
						</div>

						<div class="col-4 col-md-2">
							<a href="#" target="_blank">
								<div class="aspect-ratio">
									<div class="aspect-ratio-content">
										<img src="assets/imgs/indexLink2.jpg" class="img-fluid" />
									</div>
								</div>
							</a>
						</div>

						<div class="col-4 col-md-2">
							<a href="#" target="_blank">
								<div class="aspect-ratio">
									<div class="aspect-ratio-content">
										<img src="assets/imgs/indexLink3.jpg" class="img-fluid" />
									</div>
								</div>
							</a>
						</div>

						<div class="col-4 col-md-2">
							<a href="#" target="_blank">
								<div class="aspect-ratio">
									<div class="aspect-ratio-content">
										<img src="assets/imgs/indexLink4.jpg" class="img-fluid" />
									</div>
								</div>
							</a>
						</div>

						<div class="col-4 col-md-2">
							<a href="#" target="_blank">
								<div class="aspect-ratio">
									<div class="aspect-ratio-content">
										<img src="assets/imgs/indexLink5.jpg" class="img-fluid" />
									</div>
								</div>
							</a>
						</div>

						<div class="col-4 col-md-2">
							<a href="#" target="_blank">
								<div class="aspect-ratio">
									<div class="aspect-ratio-content">
										<img src="assets/imgs/indexLink6.jpg" class="img-fluid" />
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>

				<a href="./osusume" class="moreLinks">
					<span>更多好站</span>
				</a>
			</section>

			<% include include/footer %>
		</div>
	</body>
</html>
<% include include/scripts %>

<script>
  var app = null;

  function initApp(){
    app = new Vue({
      el: '#app',
      data: {

      },
      watch: {

      },
      updated: function(){

      },
      computed: {

      },
      methods: {

      }
    });
  }

  $(document).ready(function(){
		initApp();
  });
</script>
