<!DOCTYPE HTML>
<html id="top">
	<head>
    <% include include/meta %>
		<% include include/css %>
		<style>
			.intro-title{
				color: #389bff;
		    font-size: 2.5em;
		    font-weight: 800;
			}

			.intro-content{
				color: #666;
		    font-size: 1.5em;
		    padding-top: .7em;
			}
		</style>
  </head>
	<body>
		<div id="app">
			<% include include/nav %>
			<section class="bg-mountain">
				<img src="assets/imgs/back_mountain.png" class="bg-mountain-img" />
				<div class="container">

					<nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="./" class="breadcrumb-item-link">首頁</a></li>
					    <li class="breadcrumb-item active">協會介紹</li>
					  </ol>
					</nav>

					<div class="row">

						<div class="col-12 text-center py-1">
							<img src="assets/imgs/maoliIntroPic.jpg" />
						</div>

						<div class="col-12 col-md-6 py-5">
							<img src="assets/imgs/introPhoto.jpg" class="img-fluid"/>
						</div>

						<div class="col-12 col-md-6 py-5">
							<h3 class="intro-title">苗栗縣觀光文化解說員協會</h3>
							<p class="intro-content">
								協會服務項目:<br/>
								(1) 景觀人文生態導覽<br/>
								(2) 團體或個人深度知性之旅<br/>
								(3) 觀光旅遊文化活動之導覽與解說<br/>
								(4) 配合鄉鎮市單位遂行活動導覽解說服務<br/>
								(5) 旅遊動線諮詢與安排<br/>
								(6) 研習訓練活動規劃與執行
							</p>
						</div>

					</div>

				</div>
			</section>
			<% include include/footer %>
		</div>
	</body>
</html>
<% include include/scripts %>

<script>
  var app = null;

  function initApp(){
    app = new Vue({
      el: '#app',
      data: {

      },
      watch: {

      },
      updated: function(){

      },
      computed: {

      },
      methods: {

      }
    });
  }

  $(document).ready(function(){
		setNavActive('nav_intro');
		initApp();

  });
</script>
