<!DOCTYPE HTML>
<html id="top">
	<head>
    <% include include/meta %>
		<% include include/css %>
		<link rel="stylesheet" href="assets/css/paging.css" />
		<style>

			.newsCard{
				margin-bottom: 1em;
				cursor: pointer;
			}

			.newsCard>.row{
				margin-left: 0;
				margin-right: 0;
			}

			.news-type{
				background-color: #3399fe;
		    color: #fff;
		    text-align: center;
			}

			.news-type-content{

			}

			.news-date{
				background-color: #fff;
				text-align: center;
			}

			.news-date-content{
				font-weight: 600;
			}

			.news-title{
				background-color: #fff;
			}

			.news-title-content{
				font-weight: 800;
				text-decoration: underline;
			}



			@media (min-width: 768px){
				.newsCard{
					font-size: 1.2em;
					box-shadow: 0px 0px 10px #d0d0d0;
				}

				.news-type{
					padding-top: 1.2em;
					padding-bottom: 1.2em;
				}

				.news-type-content{

				}

				.news-date{
					padding-top: 1.2em;
					padding-bottom: 1.2em;
				}

				.news-date-content{

				}

				.news-title{
					padding-top: 1.2em;
					padding-bottom: 1.2em;
				}

				.news-title-content{

				}
			}
		</style>
  </head>
	<body>
		<div id="app">
			<% include include/nav %>
			<section class="bg-mountain">
				<img src="assets/imgs/back_mountain.png" class="bg-mountain-img" />
				<div class="container">

					<nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="./" class="breadcrumb-item-link">首頁</a></li>
					    <li class="breadcrumb-item active">最新消息</li>
					  </ol>
					</nav>

					<h2 class="section-title">最新消息</h2>

					<div class="row">

						<div v-for="(item, index) in nowNews" class="col-12" :class="{'invisible': item.fake}">
							<div class="newsCard" @click="toNewsContent(item.id)">
								<div class="row">
									<div class="col-12 col-md-2 news-type">
										<span class="news-type-content">INFO</span>
									</div>
									<div class="col-12 col-md-3 news-date">
										<span class="news-date-content" v-text="item.date"></span>
									</div>
									<div class="col-12 col-md-7 news-title">
										<span class="news-title-content" v-text="item.title"></span>
									</div>
								</div>
							</div>
						</div>


					</div>

					<div class="paging-nav">
						<div class="paging-btn" @click="pageChange(nowPage-1)"><i class="fas fa-chevron-left fa-2x"></i></div>
						<div v-for="ind in pageAmount" class="paging-btn" :class="{'active':nowPage == ind}" :id="'paging-btn-'+ind" @click="pageChange(ind)"><i class="fas fa-circle"></i></div>
						<div class="paging-btn" @click="pageChange(nowPage+1)"><i class="fas fa-chevron-right fa-2x"></i></div>
					</div>

				</div>
			</section>
			<% include include/footer %>
		</div>
	</body>
</html>
<% include include/scripts %>

<script>
  var app = null;

  function initApp(){
    app = new Vue({
      el: '#app',
      data: {
				news: [
					{
						date: '2018/03/24',
						title: '導覽人力資料更新',
						id: '123',
					},{
						date: '2018/03/20',
						title: '資料庫維護通知',
						id: '123',
					},{
						date: '2018/03/16',
						title: '網站伺服器維護通知',
						id: '123',
					},{
						date: '2018/02/20',
						title: '舊山線網路預約及注意事項更新',
						id: '123',
					},{
						date: '2018/01/25',
						title: '好友聯票方案',
						id: '123',
					},{
						date: '2018/03/24',
						title: '導覽人力資料更新',
						id: '123',
					},{
						date: '2018/03/24',
						title: '導覽人力資料更新',
						id: '123',
					},{
						date: '2018/03/24',
						title: '導覽人力資料更新',
						id: '123',
					},{
						date: '2018/03/24',
						title: '導覽人力資料更新',
						id: '123',
					},{
						date: '2018/03/24',
						title: '導覽人力資料更新',
						id: '123',
					},{
						date: '2018/03/24',
						title: '導覽人力資料更新',
						id: '123',
					},{
						date: '2018/03/24',
						title: '導覽人力資料更新',
						id: '123',
					},{
						date: '2018/03/24',
						title: '導覽人力資料更新',
						id: '123',
					},
				],
				newsPerPage: 5,
				nowPage: 1,
      },
      watch: {

      },
      updated: function(){

      },
      computed: {
				pageAmount: function(){
					return Math.max( 1, parseInt((this.news.length-1) / this.newsPerPage) + 1);
				},
				nowNews: function(){
					let res = [];
					for(let i = 0; i<this.newsPerPage; i++){
						const ind = (this.nowPage-1) * this.newsPerPage + i;
						if(ind >= this.news.length){
							res.push(this.getFake());
						}else{
							res.push(this.news[ind]);
						}

					}
					return res;
				},
      },
      methods: {
				pageChange: function(p){
					p = Math.min(p, this.pageAmount);
					p = Math.max(p, 1);
					this.nowPage = p;
				},
				toNewsContent: function(id){
					window.location = "./newsContent"
				},
				getFake: function(){
					return {
						date: '2018/03/24',
						title: '導覽人力資料更新',
						id: '123',
						fake: true,
					};
				},
      }
    });
  }

  $(document).ready(function(){
		setNavActive('nav_news');
		initApp();
  });
</script>
