<!DOCTYPE HTML>
<html id="top">
	<head>
    <% include include/meta %>
		<% include include/css %>
		<style>
			.newsContent-title{
				text-align: center;
		    font-weight: 800;
				padding-top: .3em;
				padding-bottom: .3em;
			}

			.newsContent-date{
				text-align: center;
			}

			.newsContent-hr{
				border-width: 2px;
				border-color: #000;
			}

			.newsContent-desc{
				color: #4c4c4c;
		    font-size: 1.2em;
			}
		</style>
  </head>
	<body>
		<div id="app">
			<% include include/nav %>
			<section class="bg-mountain">
				<img src="assets/imgs/back_mountain.png" class="bg-mountain-img" />
				<div class="container">

					<nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="./" class="breadcrumb-item-link">首頁</a></li>
							<li class="breadcrumb-item"><a href="./news" class="breadcrumb-item-link">最新消息</a></li>
					    <li class="breadcrumb-item active">好友聯票方案</li>
					  </ol>
					</nav>

					<div class="mb-5">
						<h3 class="newsContent-title">好友聯票方案</h3>
						<h5 class="newsContent-date">2018/03/24</h5>
						<hr class="newsContent-hr" />

						<div class="newsContent-desc">
							<p>
								苗栗的兩大博物館，三義木雕博物館什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的。<br/>
								什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的<br/>
								什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的<br/>
								什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的什麼什麼的<br/>
								最好是有時間整個打完測試XDD
							</p>

							<div class="text-center">
								<img class="img-fluid" src="assets/imgs/newsContentPic.jpg" />
							</div>
						</div>
					</div>

				</div>
			</section>
			<% include include/footer %>
		</div>
	</body>
</html>
<% include include/scripts %>

<script>
  var app = null;

  function initApp(){
    app = new Vue({
      el: '#app',
      data: {

      },
      watch: {

      },
      updated: function(){

      },
      computed: {

      },
      methods: {

      }
    });
  }

  $(document).ready(function(){
		setNavActive('nav_news');
		initApp();
  });
</script>
