<!DOCTYPE HTML>
<html id="top">
	<head>
    <% include include/meta %>
		<% include include/css %>
		<link rel="stylesheet" href="assets/css/paging.css" />
		<style>

			.linksCard{
				display: block;
		    margin: .5em;
		    color: #959595;
				font-weight: 600;
		    height: 100%;
				padding-top: .5em;
				padding-bottom: .5em;
				position: relative;
			}

			.linksCard:hover{
				text-decoration: none;
			}

			.linksCardContent{
				background-color: #fff;
				height: 100%;
				box-shadow: 0px 0px 10px #ddd;
			}

			@media (min-width: 768px){

				.linksCard{

				}

				.for-five-col{
					flex: 0 0 20%;
				}
			}
		</style>
  </head>
	<body>
		<div id="app">
			<% include include/nav %>
			<section class="bg-mountain">
				<img src="assets/imgs/back_mountain.png" class="bg-mountain-img" />
				<div class="container pb-5">

					<nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="./" class="breadcrumb-item-link">首頁</a></li>
					    <li class="breadcrumb-item active">好站推薦</li>
					  </ol>
					</nav>

					<h2 class="section-title">好站推薦</h2>

					<div class="row for-five-col">

						<div v-for="(item, index) in nowLinks" class="col-6 for-five-col" :class="{'invisible': item.fake}">
							<a class="linksCard" href="#" target="_blank">
								<div class="linksCardContent">
									<div class="p-2">
										<div class="aspect-ratio">
											<div class="aspect-ratio-content">
												<img :src="item.pic" />
											</div>
										</div>
									</div>
									<hr/>
									<div class="px-2 pb-4">
										<span v-html="item.name"></span>
									</div>
								</div>
							</a>
						</div>

					</div>

					<div class="paging-nav mt-4">
						<div class="paging-btn" @click="pageChange(nowPage-1)"><i class="fas fa-chevron-left fa-2x"></i></div>
						<div v-for="ind in pageAmount" class="paging-btn" :class="{'active':nowPage == ind}" :id="'paging-btn-'+ind" @click="pageChange(ind)"><i class="fas fa-circle"></i></div>
						<div class="paging-btn" @click="pageChange(nowPage+1)"><i class="fas fa-chevron-right fa-2x"></i></div>
					</div>

				</div>
			</section>
			<% include include/footer %>
		</div>
	</body>
</html>
<% include include/scripts %>

<script>
  var app = null;

	function initApp(){
    app = new Vue({
      el: '#app',
      data: {
				links: [
					{
						name: '苗栗縣政府文化觀光局',
						link: 'https://writes.com.tw',
						pic: 'assets/imgs/link1.jpg',
					},{
						name: '苗栗縣政府',
						link: 'https://writes.com.tw',
						pic: 'assets/imgs/link2.jpg',
					},{
						name: '交通部觀光局',
						link: 'https://writes.com.tw',
						pic: 'assets/imgs/link3.jpg',
					},{
						name: '苗栗薑麻園',
						link: 'https://writes.com.tw',
						pic: 'assets/imgs/link4.jpg',
					},{
						name: '文化部',
						link: 'https://writes.com.tw',
						pic: 'assets/imgs/link5.jpg',
					},{
						name: '客家委員會',
						link: 'https://writes.com.tw',
						pic: 'assets/imgs/link6.jpg',
					},{
						name: '竹森',
						link: 'https://writes.com.tw',
						pic: 'assets/imgs/link7.jpg',
					},{
						name: '客家委員會<br/>客家文化發展中心',
						link: 'https://writes.com.tw',
						pic: 'assets/imgs/link8.jpg',
					},{
						name: '花蓮縣文化局',
						link: 'https://writes.com.tw',
						pic: 'assets/imgs/link9.jpg',
					},{
						name: '雪見生態旅遊',
						link: 'https://writes.com.tw',
						pic: 'assets/imgs/link10.jpg',
					},{
						name: '苗栗縣政府文化觀光局',
						link: 'https://writes.com.tw',
						pic: 'assets/imgs/link1.jpg',
					},{
						name: '苗栗縣政府',
						link: 'https://writes.com.tw',
						pic: 'assets/imgs/link2.jpg',
					},{
						name: '交通部觀光局',
						link: 'https://writes.com.tw',
						pic: 'assets/imgs/link3.jpg',
					},
				],
				linksPerPage: 10,
				nowPage: 1,
      },
      watch: {

      },
      updated: function(){

      },
      computed: {
				pageAmount: function(){
					return Math.max( 1, parseInt((this.links.length-1) / this.linksPerPage) + 1);
				},
				nowLinks: function(){
					let res = [];
					for(let i = 0; i<this.linksPerPage; i++){
						const ind = (this.nowPage-1) * this.linksPerPage + i;
						if(ind >= this.links.length){
							res.push(this.getFake());
						}else{
							res.push(this.links[ind]);
						}
					}
					return res;
				},
      },
      methods: {
				pageChange: function(p){
					p = Math.min(p, this.pageAmount);
					p = Math.max(p, 1);
					this.nowPage = p;
				},
				toNewsContent: function(id){
					window.location = "./newsContent"
				},
				getFake: function(){
					return {
						name: '交通部觀光局',
						link: 'https://writes.com.tw',
						pic: 'assets/imgs/link3.jpg',
						fake: true,
					};
				},
      }
    });
  }

  $(document).ready(function(){
		setNavActive('nav_links');
		initApp();
  });
</script>
