<!DOCTYPE HTML>
<html id="top">
	<head>
    <% include include/meta %>
		<% include include/css %>
		<link rel="stylesheet" href="assets/css/forms.css" />
		<style>
			.searchForm{
				max-width: 550px;
    		margin: 5em auto;
				background-color: #fff;
			}

			.hint-tel{
				text-align: center;
		    font-size: 1.5em;
		    color: #3e9bed;
		    font-weight: 600;
		    margin-top: 1em;
			}

			@media (min-width: 768px){
				.searchForm{
					padding-left: 2em;
					padding-right: 2em;
					padding-top: 1em;
					padding-bottom: 1em;
					box-shadow: 0px 0px 10px #ddd;
				}
			}
		</style>
  </head>
	<body>
		<div id="app">
			<% include include/nav %>
			<section class="bg-mountain">
				<img src="assets/imgs/back_mountain.png" class="bg-mountain-img" />
				<div class="container pb-5">

					<nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="./" class="breadcrumb-item-link">首頁</a></li>
							<li class="breadcrumb-item"><a href="./" class="breadcrumb-item-link">導覽預約</a></li>
					    <li class="breadcrumb-item active">預約查詢</li>
					  </ol>
					</nav>

					<h2 class="section-title">預約查詢</h2>

					<div class="searchForm">
						<form>
							<div class="row">

								<div class="col-12 mt-3">
									<div class="form-title">
										請輸入預約時所填寫的資訊
									</div>
								</div>

								<div class="col-12 col-md-5 mt-3">
									<div class="form-label">
										連絡電話
									</div>
								</div>

								<div class="col-12 col-md-7 mt-3">
									<input type="text" class="form-control" >
								</div>

								<div class="col-12 col-md-5 mt-3">
									<div class="form-label">
										身分證後四碼
									</div>
								</div>

								<div class="col-12 col-md-7 mt-3">
									<div class="form-row">
								    <div class="form-group col-md-6">
								      <input type="text" class="form-control" >
								    </div>
								    <div class="form-group col-md-6">
								    </div>
								  </div>
								</div>

							</div>

						</form>
					</div>

					<div class="col-12 text-center mt-3 px-5">
						<button class="btn btn-lg btn-primary px-5" @click="toSearchResult()">查詢</button>
					</div>

					<div class="hint-tel">
						預約問題請撥打 037-868146
					</div>

				</div>
			</section>
			<% include include/footer %>
		</div>
	</body>
</html>
<% include include/scripts %>

<script>
  var app = null;

  function initApp(){
    app = new Vue({
      el: '#app',
      data: {

      },
      watch: {

      },
      updated: function(){

      },
      computed: {

      },
      methods: {
				toSearchResult: function(){
					window.location = "./searchResult"
				},
      }
    });
  }

  $(document).ready(function(){
		setNavActive('nav_yoyaku');
		initApp();
  });
</script>
