<!-- <img src="assets/imgs/superNav.jpg" style="width:100%;" /> -->

<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/maoli1">
    <img src="assets/imgs/logo.jpg" height="50" class="d-inline-block" alt="">
    線上導覽預約
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown" id="nav_yoyaku">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          導覽預約
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="search">預約查詢</a>
        </div>
      </li>
      <li class="nav-item" id="nav_intro">
        <a class="nav-link" href="intro">協會介紹</a>
      </li>
      <li class="nav-item" id="nav_news">
        <a class="nav-link" href="news">最新消息</a>
      </li>
      <li class="nav-item" id="nav_links">
        <a class="nav-link" href="osusume">好站推薦</a>
      </li>
      <li class="nav-item" id="nav_feedback">
        <a class="nav-link" href="feedback">意見回饋</a>
      </li>
    </ul>
  </div>
</nav>
