

.culture-row{
  display: flex;
  flex-direction: column;
}

.culture-left{
}

.culture-middle{
  display: none;
}

.culture-right{
  display: none;
}

.culture-desc{

}

.culture-desc h3{
  font-weight: 800;
  margin-bottom: 2em;
}

.desc-img-outer{
  position: relative;
  padding-top: 100%;
  cursor: pointer;
}

.desc-img-outer::after{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #fff;
  opacity: .5;
  z-index: 2;
}

.desc-img-outer.showed::after{
  opacity: 0;
}

.desc-img-outer.more::after{
  background-color: #000;
}

.desc-img-inner{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.desc-img-inner>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more-count{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 3;
  font-size: 1.5em;
}

.page-btn{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #444;
  color: #fff;
  transition: all .4s ease;
}

.page-btn:hover{
  background-color: #999;
  color: #fff;
}

.img-pages-div{
  padding-top: calc(25% - 10px);
  position: relative;
  overflow: hidden;
}

.img-page-imgs{
  float: left;
  width: 25%;
  padding: 0 5px;
}

.img-pages{
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  transition: transform .5s ease;
}

.img-page{
  float: left;
}

.culture-desc-content{
  margin: 1.5em 0;
}

.culture-desc-content h4{
  padding: .5em;
  background-color: #fffaec;
}

.culture-desc-content p{
  line-height: 2em;
}

.culture-main-img-div{
  padding-top: 66%;
  position: relative;
}

.culture-main-img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.culture-main-img>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (min-width: 1024px){
  .culture-row{
    flex-direction: row;
  }

  .culture-left{
    flex: 1 1 0;
    padding-right: 1em;
  }

  .culture-middle{
    display: block;
    flex: 0 0 280px;

  }

  .culture-right{
    display: block;
    flex: 0 0 280px;
  }

  .culture-guide-map-div{
    margin: 0 .5em;
    background-color: #f4f1ec;
  }

  .culture-middle h5{
    text-align: center;
    padding: 1em 0;
    /* letter-spacing: 5px; */
    background-color: #998675;
    color: #fff;
  }

  .culture-guide-map{
    position: relative;
  }

  .culture-guide-map>img{
    width: 100%;
  }

  .culture-guide-map-item{
    position: absolute;
    cursor: pointer;
  }

  .culture-guide-map-item.actived{
    color: #fac83b;
  }

  .culture-menu{
    margin-left: 1em;
    border: solid 5px #f6cb32;
  }

  .culture-menu-head{
    background-color: #fffaec;
    padding: .7em 1em;
    cursor: pointer;
  }

  .culture-menu-icon{
    float: right;
    font-weight: 800;
  }

  .culture-menu-head .icon-open{
    display: inline-block;
  }

  .culture-menu-head .icon-close{
    display: none;
  }

  .culture-menu-head.actived .icon-open{
    display: none;
  }

  .culture-menu-head.actived .icon-close{
    display: inline-block;
  }

  .culture-menu-head h6{
    font-size: 1.2em;
    font-weight: 800;
  }

  .culture-menu-content{
    height: 0;
    overflow: hidden;
  }

  .culture-menu-head.actived + .culture-menu-content{
    height: fit-content;
  }

  .culture-menu-item{
    position: relative;
    cursor: pointer;
    padding: .5em 0 .5em 2em;
  }

  .culture-menu-item::before{
    content: '▶';
    position: absolute;
    left: .5em;
    opacity: 0;
  }


  .culture-menu-item:hover{
    color: #fac83b;
  }

  .culture-menu-item.actived{
    color: #fac83b;
  }

  .culture-menu-item.actived::before{
    opacity: 1;
  }
}
